[2022-01-24 21:31] iajrz opened #2 "Version Number"
Versions should be [semver 2](https://semver.org/) compatible, which is aligned with [golang's module versioning guidelines](https://go.dev/doc/modules/version-numbers).

I think we should start work with version "0.99.0" to begin with, which is a number that points towards v1, is below 1.x (denoting "in development"), and is far enough from v0's version number to differentiate it.

[2022-01-27 16:38] iajrz opened #3 "Make it Run"
The app needs an entry point; the two most prominent conventions are having a series of subdirectories in `cmd/`, each with names related to the executable that will be generated and containing a `main.go` file inside, and a simple entry point at the root of the repository.

Given the structure we have, we'll opt for a `cmd/pocket/main.go` file as the entry point.

[2022-01-27 18:09] iajrz opened #5 "Add Build Tool"
We need to integrate a tool that helps automate release-related work as much as possible and reduce the probability of making mistakes when delivering artifacts.

[2022-02-04 20:34] #5 closed

[2022-02-04 20:35] #3 closed

[2022-02-04 20:40] iajrz commented on #2
Ah, I noticed a slight misread in the implementation vs specification, so this shouldn't be closed after all.

Format will be edited to conform to the format -- applied to our case, version number will look something like this:
`Major.Minor.Patch-branch.commit.dirty+race`

[2022-02-04 20:46] iajrz commented on #2
In fact, the branch and commit don't quite fit into this scheme; the proper format should be `Major.Minor.Patch[-dirty]+branch.commit.race`, otherwise the branch name and commit hash would be used to determine precedence, and they shouldn't.

[2022-02-22 17:54] luyzdeleon opened #20 "V1 Prototype Integration"
# Objective
First prototype build of the V1 project.

# Origin Document
The first fully end to end integrated V1 version including the following modules:

- **Application**: Provide an entrypoint to the application and start the `pocket` process.
- **Application Specific Bus and Shared Module**: The main integration point of the application, where the `pocket` process gets configured and initializ

[2022-02-22 17:59] luyzdeleon opened #21 "V1 Prototype: Application entrypoint and shared module"
# Objective
Add to the project the initial application entrypoint and the shared module with the common interfaces to all modules of the app.

# Origin Document
Pocket is going to use an application-specific-bus which is going to coordinate the integration of the different modules of the application, this requires a set of common-use interfaces and structures and the aim of this issue to provide t

[2022-02-23 02:56] Olshansk opened #22 "V1 Prototype Snapshot"
# Objective
Immutable code snapshot/reference of the 1st V1 prototype.

# Origin Document
One of the goals in mid-February was to build a foundation for the V1 module integration. Since it was just a prototype, the team is aware of the following:
* As V1 matures, the code will likely change quite a bit.
* To submit the current prototype to mainline, it'll be split into a handful (i.e. ~5) of small

[2022-02-23 16:43] andrewnguyen22 opened #23 "V1 Pre-Persistence Module"
# Objective
Have an in-memory database with the necessary persistence operations that happen in the application.

# Origin Document
Add a pre-persistence implementation to mock needed storage ops. This mock should both unblock module developers and be utilized to demonstrate the storage needs of each module. This is meant to inform the development of the v1 persistence module while enabling integr

[2022-02-23 16:50] andrewnguyen22 opened #24 "V1 Utility Module First Iteration"
# Objective
Create the first iteration of the Utility Module and integrate it with the other modules within the codebase

# Origin Document
Minimally implement the first iteration of the account based, state machine protocol.
The module should create the fundamental actors:
- Accounts
- Validators
- Fishermen
- Applications
- Service Nodes

And implement the basic transaction functionality:
- Send

[2022-02-23 17:35] derrandz opened #25 "V1 P2P Module - First Iteration"
### Objective
Create the first iteration of the P2P Module and integrate it with the other modules within the codebase.

### Origin Document
Implement the first iteration of a tcp server and client behavior with read, write and write with ack behaviors, in addition to basic Raintree broadcast (_with no redundancy or daisy chain cleanup_).

The module should implement:

* Lifecycle and Telemetry me

[2022-02-23 18:45] luyzdeleon opened #26 "V1 Prototype: Persistence Module"
# Objective
V1 Prototype persistence module

# Origin Document
The V1 persistence prototype should allow for the following functionality:
- [ ] Creation of a "state machine" specific context with persistence operations
- [ ] A "commit-like" DB which can be rolled back in case an operation fails
- [ ] Interfaces to the difference persistence operations required
- [ ] Genesis state initialization

*

[2022-02-23 18:45] luyzdeleon commented on #25
@derrandz This issue is missing assignee, milestone and labels. It's also missing deliverables and co-owners.

[2022-02-23 18:51] luyzdeleon commented on #26
Closing in favor of https://github.com/pokt-network/pocket/issues/23

[2022-02-23 18:51] #26 closed

[2022-02-23 20:47] Olshansk commented on #24
@andrewnguyen22 Could you list me as a co-owner on this module? I'd like to be more involved in the utility module development as well as simply increase the bus factor.

[2022-02-23 20:58] Olshansk commented on #22
Opened a PR here: https://github.com/pokt-network/pocket/pull/27

[2022-02-23 21:08] Olshansk opened #28 "V1 Consensus Module - First Iteration"
# Objective
Create the first iteration of the Consensus Module and integrate it with the other modules within the codebase.

## Origin Document
Minimally implement the first iteration of HotPocket, the State Machine Replication engine for Pocket V1. The original specs to the consensus protocol can be found at [github.com/pokt-network/pocket-network-protocol/tree/main/consensus](https://github.com/

[2022-02-23 21:27] derrandz commented on #25
@luyzdeleon Thanks for the heads up! filled.

[2022-02-23 21:30] andrewnguyen22 commented on #24
Done

[2022-02-24 01:52] Olshansk commented on #21
Submitted the first of several CLs here: https://github.com/pokt-network/pocket/pull/29.

There's no functionality but the modules are there. Will add documentation and a small design doc tomorrow.

[2022-02-25 00:49] Olshansk opened #32 "V1 Pre2P (i.e. PreP2P) Module"
# Objective
A stop-gap implementation of the P2P module to unblock the implementation of Consensus & Utility in a localnet environment.

# Origin Document
Add a Pre2P (i.e. PreP2P) implementation to mock allow for sending and broadcasting messages between Pocket network actors and validator nodes. This is not a mock per say, but uses Goland's native networking modules to allow the broadcasting and

[2022-02-25 18:46] luyzdeleon commented on #2
What would be the actionable here @iajrz ? Creating a PR ammending the docs?

[2022-02-28 21:42] guettomusick opened #34 "Contributing Guide"
# Objective
Include a contribution guide on the project

# Origin Document
- Community members need a contribution guide in order to be able to participate in this project
- Pocket network Core developers should follow the contributing guide to be able to work with community contributors

Owner: @guettomusick
Co-Owners: @luyzdeleon

[2022-03-02 11:52] derrandz opened #38 "V1 P2P E2E test script"

[2022-03-02 11:52] derrandz opened #39 "[P2P] E2E Tests for p2p"
# Objective

Achieve a truly e2e-tested p2p

# Origin Document

P2P is unit tested and integration-tested through the aid of mocks. We are interested in having a real-life simulation mechanism at our fingertips, that we can create, destroy, monitor and control, to test how p2p nodes perform and interact in a truly distributed environment with real nodes.

The e2e test should spin containerized pee

[2022-03-02 12:06] derrandz opened #40 "V1 Repurpose #31 to migrate the P2P Code to the TLD"
### Description
---

Following a slight misunderstanding from my side, I've went a head and put all the p2p module code under the prototype directory in the repository, imitating #27 to avoid conflicts, which was intended only for snapshotting purposes.

After the review and a discussion with the team, we saw that it was more fitting and appropriate that the p2p module impacts the TLD directly.

#

[2022-03-02 12:07] derrandz commented on #40
This has closed #31

[2022-03-02 12:23] derrandz opened #41 "[P2P] Add Connection Handshake functionality + Identity Check"
### Description
----
Implement the connections handshake process per the p2p specification

### Acceptance Criteria
----

- `.handshake()` authenticates connections and adds them to the connection pool on success
- `.handshake()` tracks which connection failed to authenticate for security purposes. (_file logs?_)
- `.handshake()` to take part of `inbound` and `outbound` socket opening.

### Delive

[2022-03-02 14:39] iajrz opened #43 "[Infra] Makefile to magefile migration"
The makefile is in place to make it easier and faster to iterate on build target experiments. As those are validated, they would be settling into the magefile. Ideally, we'll start using the magefile as the place for further experiments after the team becomes familiarized with it; in the meantime, we know we need to do the migration (represented by the existence of this issue) and plan to address

[2022-03-02 14:42] iajrz opened #44 "[Infra] Configuration Loader"
At present we are loading configurations from files exclusively. At some point we'll start adding flags to override specific configuration values.

A configuration loader should be written to make it so that flags are auto-generated in very much the same way configuration files can be automatically loaded by matching the Go structure to file contents.

This is low-burning at the moment, since conf

[2022-03-02 14:45] iajrz commented on #2
Action items:
- addition to mage.go to make it use tag information when available.
- Amending docs to explain what we actually do with versioning with the magefile.

[2022-03-02 20:33] Olshansk commented on #43
Wanted to add that the TODOs and interim solution in https://github.com/pokt-network/pocket/pull/29 can act as the "origin document" for this issue.

Also, do you think it's worth updating the issue to the structure outlined in the Contribution guide at https://github.com/pokt-network/pocket/pull/36?

[2022-03-17 04:07] Olshansk commented on #43
I read through https://bitfieldconsulting.com/golang/scripting earlier today which discussed this library: https://github.com/bitfield/script.

tl;dr You get all of the simplicity of shell scripting with the power of Go, and together they're actually better without making any tradeoffs.

E.g. You can replace `cut -d' ' -f 1 access.log |sort |uniq -c |sort -rn |head` with `File("log").Column(1).Fre

[2022-03-25 02:44] derrandz opened #50 "P2P: Churn protocol"

[2022-03-25 02:48] derrandz opened #51 "P2P: Seed Protocol"

[2022-03-25 02:49] derrandz opened #52 "P2P: UDP Socket + Muxing per address/"connection""

[2022-03-25 02:49] derrandz opened #53 "[P2P] Retry logic / Max Retries Logic / Max Timeouts"
# Objective
---

Implement Connections IO Retry Logic that can handle network partitions and hazards.

# Origin Document
---

In any network, nodes go on and off line, packets are lost and connections are dropped.
We need to make sure that our network can handle these edge cases when they arise during critical operations such as transferring blocks or broadcasting for consensus rounds.

This impac

[2022-03-25 02:49] derrandz opened #54 "[P2P] TCP Connection Pooling (Earliest Recently Used, Last Recently Used Push Queue)"
# Objective

Achieve an efficient connection pool to minimize TCP roundtrips that come with establishing new connections.

# Origin Document
When a connection pool is full, and we need to pool new connections, some space has to be made so some existing pooled connections must be "evacuated".

In order to efficiently use the connections' pool, we need some pool re-ordering logic. A suggestion is to

[2022-03-25 02:50] derrandz opened #55 "[P2P] Buffered writes with Chunks Ordering + Buffered Reads with Bytes Reordering"
# Objective
---

Implement bytes chunking/re-ordering for data streams.

# Origin Document
---

When dealing with large payloads, the p2p module should be able to split the payload into a series of ordered chunks, and stream them to the recipient, such that if the ordered of receipt is flipped, the recipient can re-order the chunks based on their metadata, thus retrieve the large data in full afte

[2022-03-25 13:01] #34 closed

[2022-03-25 16:37] derrandz opened #57 "[P2P]: Convert P2P Wire Codec to Protobuf"
# Objective
---

Use protobuf as the one and only codec for communication, and deprecate the wire codec in favor of Protobuf.

The baseline functionality of the wire codec should be satisfied with protobuf. Wire Codec provides functionality that enables three important behaviors:

 - Ability to peak into the received payload size without allocating memory, allowing for validation logic to reject t

[2022-03-29 23:18] Olshansk opened #58 "[Utility] Module First Iteration - Followups & Cleanup"
# Objective
Address all of the discussion and implementation points left in the primary PR: https://github.com/pokt-network/pocket/pull/47

# Origin Document
[Issue #24: V1 Utility Module First Iteration](https://github.com/pokt-network/pocket/issues/24)

# Goals
## Deliverables
- [ ] Check of all the boxes below
- [ ] Add documentation or refactor code where applicable

## Testing Methodology
`$

[2022-03-29 23:20] Olshansk commented on #58
@derrandz Feel free to add additional questions/comments related to the V1 utility iteration here (inline or link to it).

[2022-03-30 22:09] andrewnguyen22 opened #59 "[Cleanup] Style consistency with explicit return values"
Example:
In `GetPoolAmount`, we have named return values but still return values explicitly.
In `GetAllPools`, we have named return values that we make use of.

There is variation and inconsistency and, so I prefer that we stick with one (whichever that is). My preference is to avoid return values per the suggestion here: https://dave.cheney.net/practical-go/presentations/gophercon-israel.html#_av

[2022-03-31 00:30] Olshansk opened #60 "V1 PrePersistence Module First Iteration - Followups"
# Objective
Address all of the discussion and implementation points left in the primary PR: https://github.com/pokt-network/pocket/pull/42

# Origin Document
[Issue #23: V1 Pre-Persistence Module](https://github.com/pokt-network/pocket/issues/23)

# Goals
## Deliverables
- [ ] Address all outstanding TODOs in the PrePersistence module
- [ ] Address all of the open items below

## Testing Methodolo

[2022-03-31 01:59] #24 closed

[2022-03-31 05:42] #22 closed

[2022-03-31 05:45] Olshansk commented on #21
The remaining action item to close this issue out is on me to provide documentation.

[2022-03-31 05:46] #32 closed

[2022-03-31 06:53] Olshansk opened #61 "[P2P] V1 P2P First Iteration - Followups"
# Objective
Address all of the discussion and implementation points left in the primary PR: https://github.com/pokt-network/pocket/pull/46

# Origin Document
[Issue #24: V1 P2P Module - First Iteration](https://github.com/pokt-network/pocket/issues/25)

# Goals
## Deliverables
- [x] Address all outstanding TODOs in the P2P module
- [ ] Address all of the open items below

## Testing Methodology

[

[2022-03-31 07:09] Olshansk opened #62 "[Consensus] First Iteration - Followups & Cleanup"
# Objective
Address all of the discussion and implementation points left in the primary PR: https://github.com/pokt-network/pocket/pull/48

# Origin Document
[Issue #28: V1 Consensus Module - First Iteration](https://github.com/pokt-network/pocket/issues/28)

# Goals
## Deliverables
- [ ] Address all outstanding TODOs in the Consensus module
- [ ] Address all of the open items below

## Testing Me

[2022-04-02 18:33] #28 closed

[2022-04-06 21:42] derrandz commented on #61
Most of what's addressable at this point of the PR has been addressed. The remaining are as highlighted above:

- Refactors to consolidate the logger functionality with the rest of the repository
- Replacing WireCodec with protobufs or flatbuffers.
- Using Mockgen

[2022-04-12 04:35] Olshansk commented on #58
Note that all of the action & discussion items have been either addressed in https://github.com/pokt-network/pocket/pull/64 or discussed in internal team meetings. If you'd like access to the notes or recordings, please ping myself or someone else on the protocol team directly and we'd be happy to collaborate.

Leaving this open until the low prioriiry open-ended items are tended to or deemed not

[2022-04-12 04:37] Olshansk commented on #62
Note that all of the action & discussion items have been either addressed in https://github.com/pokt-network/pocket/pull/64 or discussed in internal team meetings. If you'd like access to the notes or recordings, please ping myself or someone else on the protocol team directly and we'd be happy to collaborate.

Leaving this open until the low prioriiry open-ended items are tended to or deemed not

[2022-04-12 13:51] derrandz commented on #61
Here is a non-exhaustive list of questions to be answered for the logging topic (_by @Olshansk_)

1. Do we build our own logging library?
1.5 If so, how do we design / use it?
2. Do we use another open source logging library?
3. What logging libraries do other projects use?

No urgency on the topic, will probably be attended to in v1 next development cycle

[2022-04-12 13:52] derrandz opened #66 "[P2P] Consolidate the socket module with the rest of the repository by implementing `Module` interface for the p2p socket."
### Objective

To unify modules' style across the repository.

### Origin Document

The socket component in the p2p module is an internal p2p component, however following on the footsteps of Consensus, we will implement the `Module` interface for the socket, as was done with the leader election and sortition components in Consensus.

We sacrificing access-modification (_keeping these components bo

[2022-04-12 13:52] derrandz opened #67 "P2P: Add documentation under `p2p/README.md`"
### Objective

To document the p2p socket behavior and internals.

### Deliverables

- [ ] Document the goal of the socket module
- [ ] Document why the socket module implements buffered IO and how it achieves it
- [ ] Provide state diagrams explain all possible states and state changes for a socket
- [ ] Provide a flowchart diagram for the main IO routines: read, write
- [ ] Provide a library doc

[2022-04-12 17:44] andrewnguyen22 opened #68 "[Persistence] Module First Implementation"
Owner @andrewnguyen22
Co-Owners: @iajrz  @Olshansk

End Date May 1, 2022

## Objective

Create the first iteration of the Pre-Persistence module and integrate it with the other modules within the /github.com/pokt-network/pocket codebase

## Deliverables

Minimally implement the first iteration of the persistence layer.

- Create clean interfaces and MVP schemas for the P2P dataset, Consensus datas

[2022-04-12 17:58] derrandz opened #69 "[P2P] Standardize cryptographic conversion math"
### Objective

To standardize the mathematical conversion from ed25519 to curve25519 using [filipo's code](https://pkg.go.dev/filippo.io/edwards25519)

### Origin Document

We are interested in *somewhat* standardizing the cryptographic conversion logic that converts from ed22519 to Curve25519.

I was further validated by finding an existing proposal to add this functionality to go’s standard cryp

[2022-04-12 18:06] derrandz opened #70 "[P2P] Add mechanism to handle large messages"
### Objective

An excerpt from the protobuf's documentation (_techniques section_)

Also from their website, same section:

### Origin Document

With a maximal block size of 4MB, we need to be able to deliver such large messages. P2P has to put in place validation mechanisms to allow it to accept or decline a received payload depending on its size to avoid bandwidth consumption attacks and network

[2022-04-12 21:04] Olshansk commented on #25
Going to close this issue out since the first iteration of the module implementation was merged in.

[2022-04-12 21:04] #25 closed

[2022-04-13 20:28] andrewnguyen22 commented on #68
TODO need milestone to attach

[2022-04-23 20:23] andrewnguyen22 opened #76 "[Persistence] Optimize gov params schema"
Optimize params schema for better de-duplication of data while maintaining fast lookups

NOTE: The fundamental issue with the current 'naive' design is that it recreates the entire parameters list everytime we have an edit to a single parameter. However, it is also important to note, parameters are expected to be updated at a low frequency.

Per a suggestion from @iajrz offline, this schema was su

[2022-04-23 20:53] andrewnguyen22 opened #77 "Move sql table schemas to .sql files with proper migration strategy"
@Olshansk
For this file (persistence/schema/account.go) and all the others, I wanted to add a point about migrations & schemas that I feel pretty strongly about before moving forward.

I looked at different [SQL migration tools](https://povilasv.me/go-schema-migration-tools/) in Golang and though I haven't picked a specific one, [golang-migrate/migrate](https://github.com/golang-migrate/migrate) s

[2022-04-24 19:08] Olshansk commented on #76
Worth noting that this issue is the result of an offline discussing in order to submit https://github.com/pokt-network/pocket/pull/73 in a shorter time period.

[2022-04-27 21:33] okdas opened #78 "[Automation] CI for pushed / merged branches"
# Objective
We've identified a need in a CI solution as a first step of building infrastructure and automation for pocket v1, as everything else is going to depend on that being done first.

# Origin Document
TBD, some rough notes for the next steps included in the onboarding doc: https://www.notion.so/Infrastructure-Dmitry-Onboarding-d7af22f439a74104892bec35d92651b7

# Goals / Deliverables
- [ ]

[2022-05-31 23:14] Olshansk opened #84 "[Dependency Injection] Adopt a widely supported dependency injection framework"
# Objective
Refactor and migrate the V1 codebase to use a widely adopted and supported dependency injection framework in Go.

# Origin Document
The current codebase has dependency injection-like paradigms that are simple but built in-house. As the codebase matures, more features will be necessary and more problems will be faced which have likely already been encountered by users. We should look at

[2022-05-31 23:28] Olshansk commented on #84
You can search for `pocket/issues/84` in the codebase for potential entry points to this but note that it will be a non-exhaustive list.

[2022-06-02 03:28] Olshansk opened #85 "[P2P] RainTree Redundancy Layer Implementation"
# Objective
Implement and test RainTree's redundancy layer on top of the Pre2P module.

# Origin Document
[The Pocket Network V1 P2P Specification](https://github.com/pokt-network/pocket-network-protocol/tree/main/p2p), supported by [this explanation of RainTree](https://drive.google.com/file/d/1PaAWTx47nPSrM798lxfKv0GnhLthZLYm/view?usp=sharing) is partially implemented in the `pre2p/raintree` bra

[2022-06-02 03:48] Olshansk opened #86 "[Pre2P] Refine the P2P module listening and IO behaviour"
# Objective
Implement and test RainTree's redundancy layer on top of the Pre2P module.

# Origin Document
[The Pocket Network V1 P2P Specification](https://github.com/pokt-network/pocket-network-protocol/tree/main/p2p), supported by [this explanation of RainTree](https://drive.google.com/file/d/1PaAWTx47nPSrM798lxfKv0GnhLthZLYm/view?usp=sharing) is partially implemented in the `pre2p/raintree` bra

[2022-06-03 20:28] derrandz commented on #86
To elaborate on my message about the matter, here  is the following breakdown:

# Breakdown

### What's missing

In the current form of `Pre2P`, the following the baseline peer functionality --which is summarized as the following bullet points, is missing:

  - A peer should support accepting multiple connections concurrently
  - A peer should support closing all open connections gracefully
  - A

[2022-06-06 03:29] DragonDmoney opened #87 "Sampling Protocol / Fisherman is gameable"
# Problem
The Sampling Protocol of the Fisherman (according to the spec) is able to be manipulated by ServiceNodes. According to the spec, there is a `Consistent Sampling Delay` between every benchmark/sample of all the service nodes in a session. An attacker could monitor his incoming requests, figure out the delay, and only give service to the Fisherman instead of to all applications.

The aim o

[2022-06-06 20:38] derrandz commented on #70
Close if #55 #57 alleviate the issue.

[2022-06-06 21:08] derrandz commented on #40
As of our last team discussion around p2p, we decided to deprecate the P2P module in favor of a new version that will be spun out of a refactored Pre2P. Thus we will transfer all the learnings from the previous P2P module into the new one, which will be the mold of Pre2P and P2P.

[2022-06-06 21:08] #40 closed

[2022-06-06 21:11] derrandz commented on #77
Adding to this a comment I put as a review for #73

We can make use of the following tool: [dbmate](https://github.com/amacneil/dbmate#postgresql). This tool will basically run in a container alongside the database, and will receive the database URL as an environment variable.

This will allow us to create very simple migrations in SQL, by simply using text directives:

[code]

So an example of a

[2022-06-06 21:13] derrandz commented on #67
Closing as P2P will be discontinued for a new rewrite based on Pre2P and the learnings from P2P.

[2022-06-06 21:13] #67 closed

[2022-06-06 22:20] Olshansk commented on #52
Closing per lack of description. We can always reopen it if necessary.

[2022-06-06 22:20] #52 closed

[2022-06-06 22:25] Olshansk commented on #57
@derrandz I think we can likely close this one since we'll end up going with Pre2P as the main P2P module, but then transferring both the code & learnings from the original P2P module to handle IO, muxing, etc... Wdyt?

[2022-06-06 23:43] Olshansk commented on #60
Closing this out as we are not going to continue work on the PrePersistence module, but are rather working on the proper implementation of the persistence module here: https://github.com/pokt-network/pocket/pull/73

[2022-06-06 23:43] #60 closed

[2022-06-06 23:47] Olshansk commented on #87
@DragonDmoney Can you post this in https://github.com/pokt-network/pocket-network-protocol? Details related to the specification should be tracked and discussed in that repo.

This repo is meant to track the progress of the official Go client implementation.

[2022-06-07 01:23] derrandz commented on #57
@Olshansk Good point.

[2022-06-07 01:23] #57 closed

[2022-06-07 17:08] #87 closed

[2022-06-08 02:37] Olshansk commented on #21
With https://github.com/pokt-network/pocket/pull/88#issuecomment-1149386126 merged, we can close this out!

[2022-06-08 02:37] #21 closed

[2022-06-08 02:37] Olshansk commented on #20
With https://github.com/pokt-network/pocket/pull/88#issuecomment-1149386126 merged, we can close this out!

[2022-06-08 02:37] #20 closed

[2022-06-09 18:31] Olshansk commented on #68
Being worked on in https://github.com/pokt-network/pocket/pull/73

[2022-06-09 18:32] Olshansk commented on #66
@derrandz Can we close this out as "wont do" since it's no longer applicable?

[2022-06-09 18:35] Olshansk commented on #61
@derrandz Can you let me know if this task is still applicable?

[2022-06-09 18:39] Olshansk commented on #2
@iajrz I want to create a tag & release for main https://github.com/pokt-network/pocket as a milestone finish line.

Following the instructions in https://github.com/pokt-network/pocket/tree/main/docs/build, what should it be?

[2022-06-09 18:44] Olshansk commented on #61
Actually, we could use this to track the in  https://github.com/pokt-network/pocket/pull/80 + reviews. Wdyt?

[2022-06-09 19:25] derrandz commented on #61
#67 and #66 are no longer applicable. The other two are though.

I think we can execute #80 separately because our of the two remaining tasks, the logging one will be acted upon in the telemetry milestone.

For the Codecs task, it is blocked by the IO tasks (#86), and we will get to it by the time we start worrying about #70

Wdyt?

[2022-06-09 19:37] Olshansk commented on #61
So, course of action:
1. Close https://github.com/pokt-network/pocket/issues/66
2. Close https://github.com/pokt-network/pocket/issues/6y (which you've already done)
3. I create an issue to track https://github.com/pokt-network/pocket/pull/80
4. Keep https://github.com/pokt-network/pocket/issues/86 and https://github.com/pokt-network/pocket/issues/70 for future work

[2022-06-09 20:14] Olshansk opened #90 "[P2P] Pre2P RainTree"
# Objective
Implement the RainTree algorithm described [here]() on top of the Pre2P module.

# Origina Document
This issue was created after the work in https://github.com/pokt-network/pocket/pull/80 was mostly complete but created for completeness.

# Goals
## Deliverables
- [X] Implementaiton
- [X] Tests
- [X] Documentaiton

## [Optional] Testing Methodology
- [X] Add new unit tests
- [X] Create

[2022-06-09 22:40] Olshansk commented on #66
Closing per the discussion at https://github.com/pokt-network/pocket/issues/61#issuecomment-1151545332

[2022-06-09 22:40] #66 closed

[2022-06-10 17:16] iajrz commented on #2
Tag `v0.0.1-alpha.01` is a good starting point; I think the build doc needs updating.

[2022-06-10 18:25] Olshansk commented on #2
Per https://en.wikipedia.org/wiki/Software_release_life_cycle, I'll go with pre-alpha for now, but otherwise sounds good.

[2022-06-10 18:36] Olshansk commented on #2
PR with documentation update here: https://github.com/pokt-network/pocket/pull/91/files

[2022-06-16 18:37] derrandz opened #93 "[Tooling] CHANGELOG and Version Bump PreCommit Hook"
### Description

The v1 codebase is required to document all important changes in a `CHANGELOG.md` at the root of the repository and module specific `CHANGELOG.md` if the changes impacted the module in-question. In addition to that, the version should be bumped accordingly.

This issue is a perfect starter task for community contributions.

## Origin Document

This issue was created as a starter t

[2022-06-16 18:59] Olshansk commented on #93
@derrandz Could you link to some examples of where the changelogs are right now for those who are new to the code base?

[2022-06-19 00:56] #90 closed

[2022-06-20 04:04] godgeema opened #94 "[REPLACE ME] with a descriptive title"
# Objective
[ Issue description - What]

# Origin Document
[ Issue of the origin or link to a document - Planning and Justification for the issue]

# Goals
## Deliverables
- [ ] List of deliverables

## [Optional] Testing Methodology
How to properly test this issue

## Non-goals
- List of goals that this issue won't address

Creator: [github username of the creator]
Co-Owners: [github usernames of

[2022-06-23 18:56] godgeema opened #98 "가요"
이 무료 앱을 확인하세요 👆 걷기만 하면 됩니다 🚶 https://sweatco.in/hi/mover24809639253

[2022-06-24 03:34] #98 closed

[2022-06-28 20:35] derrandz opened #99 "[Telemetry] Add support for telemetry clients other than prometheus"
## Description

Provide support for multiple telemetry clients.

## Origin Document

_Originally posted by @Olshansk in https://github.com/pokt-network/pocket/pull/95#discussion_r906863195_

## Changes

In `shared/telemetry/module.go`, specifically in the `Create` function, we would like to:

1. Provide support for multiple telemetry clients by implementing a switch statement that creates the corr

[2022-06-29 22:29] Olshansk opened #101 "[Telemetry] V1 Telemetry Foundation"
# Objective
Build a foudnation for Pocket V1 Telemetry with a couple use-cases.

# Origin Document

We are interested in gaining insight into the application correctness of pocket nodes, thus we want to introduce telemetry to the v1 codebase to monitor the performance and behaviour of both RainTree and HotPOKT as a starting pointing and develop more as we go forward.

![68747470733a2f2f6d656469612

[2022-07-01 22:03] Olshansk commented on #2
Going to close this out given the previous version update.

[2022-07-01 22:03] #2 closed

[2022-07-01 22:06] Olshansk commented on #44
@iajrz I'm thinking of closing this out due to the lack of specific details / deliverables. Wdyt?

[2022-07-01 23:10] Olshansk opened #102 "[Persistence] Consolidate common behaviour between `Pool` and `Account` into a shared interface"
# Objective
Remove redundant code used by the `Pool` and `Account` actors in the persistence module introduced in https://github.com/pokt-network/pocket/pull/73.

This is a good starter task opportunity to get acquainted with the codebase in the persistence module.

# Origin Document

From the [utility specification[https://github.com/pokt-network/pocket-network-protocol/tree/main/utility), a `Poo

[2022-07-06 23:14] Olshansk opened #104 "[Persistence] V1 Persistence Foundation"
# Objective

A basic SQL-based implementation of the Persistence module specification to enable the development of the rest of the Pocket Node.

# Origin Document
[Pocket protocol persistence specification](https://github.com/pokt-network/pocket-network-protocol/tree/main/persistence)

## Goals / Deliverables
- [x] Implementation of the persistence module
- [x] Actor schema specification
- [x] Act

[2022-07-06 23:52] Olshansk commented on #68
Closing with PR73 merged.

[2022-07-06 23:52] #68 closed

[2022-07-07 00:10] Olshansk opened #105 "[Persistence] Deprecate PrePersistence"
# Objective
Deprecate and remove all PrePersistence related code.

# Origin Document
[[Persistence] V1 Persistence Foundation Integration Issue](https://github.com/pokt-network/pocket/issues/104)

# Goals
## Deliverables
- [ ] Deprecation of the PrePersistence Module and all related code, docs, resources, etc...

## Testing Methodology
LocalNet and Unit Tests. See [./docs/development/README.md](ht

[2022-07-07 04:36] Olshansk opened #106 "[Utility] Local Proof of Stake"
# Objective

Build on and improve the first implementation of the utility module to have a functional local proof of stake network, including staking/unstaking/slashing/transferring assets.

This will set the foundation for relays in a future milestone, but is out of scope of this work.

# Origin Document
[Pocket protocol utility specification](https://github.com/pokt-network/pocket-network-protoc

[2022-07-07 05:04] Olshansk opened #107 "[Consensus] HotPOKT Validator Signature Aggregation"
# Objective

Replace the use of Ed25519 in the first iteration of HotPOKT which uses lists of signatures for block proposals and voting with BLS signatures. This will be closer to the theoretical design of a Hotstuff-based consensus mechanism.

# Origin Document
The Pocket protocol consensus specification can be found [here](https://github.com/pokt-network/pocket-network-protocol/tree/main/utility

[2022-07-07 22:24] Olshansk opened #108 "[Consensus] Twins: BFT Systems Made Robust"
# Objective
Implement the Twins Test originally authored by the Facebook Novi team on top of HotPOKT to guarantee the safety against Byzantine attacks as well as capture bugs during development and DevNet deployments, and prior to TestNet.

# Origin Document

The original paper can be found [here](https://arxiv.org/pdf/2004.10617.pdf).

Ths Twins Test generates Byzantine unit tests that simulate 3

[2022-07-11 17:57] Olshansk opened #109 "[Consensus] BLS Signature Aggregation"
# Objective

Convert the authenticators used by Validators for signing blocks from ED25519 signatures to BLS signatures.

# Origin Document

The original [hotstuff whitepaper](https://arxiv.org/abs/1803.05069) detailed the use of threshold signatures for consensus validation. This was inherently adopted in the [HotPOKT specification](https://github.com/pokt-network/pocket-network-protocol/tree/mai

[2022-07-11 19:12] Olshansk opened #110 "[Consensus] Foundation for DKG and Threshold Signatures"
# Objective
Prepare the consensus module for **Distributed Key Generation (DKG)** and **Threshold SIgnatures (TS)** implementation in the future.

Though neither of these mechanisms is going to be fully implemented in the near future, it could potentially require major design changes and decisions when the time comes. The objective of this issue is to determine what low-hanging fruit exists that c

[2022-07-11 21:00] DragonDmoney commented on #110
I love the early initiative and foresight. I think it is likely that POKT is turned into some type of bridge in the future, and laying out the groundwork for that whilst the codespace is new and malleable will certainly help in the long run.

**Note**: if you want to learn more about TH signatures in bridges, I would recommend looking at [Chainflip](https://chainflip.io/whitepaper.pdf)

[2022-07-13 16:25] DragonDmoney commented on #102
Note: I am currently working on this.

[2022-07-14 19:02] Olshansk opened #111 "[Utility] Local Proof of Stake Code Health Preparation"
# Objective
Reduce the code footprint of the utility module so it is more understandble to new readers while finding a balance between minimizing legacy complexity in the future and not over-generalizing the existing code.

# Origin Document

PR73 ([First iteration of a PostgreSQL based Persistence Schema](https://github.com/pokt-network/pocket/pull/73)) underwent several iterations in order to ma

[2022-07-14 22:14] Olshansk opened #112 "[Utility] Local Proof of Stake CLI"
# Objective
Create an entry point to interact with the local proof of stake blockchain actors for testing, development and automation purposes.

# Origin Document
In order to test, develop and drive consensus in V1, we developed the [Pocket v1 client](https://github.com/pokt-network/pocket/blob/main/app/client/main.go) to send a few simple transactions such as printing node state, triggering next

[2022-07-14 22:47] Olshansk opened #113 "[Persistence] Merkling a State Hash"
# Objective

Make the persistence **"a real blockchain"**.

Expand on the existing SQL-based persistence implementation to create a verifiable authenticator (i.e. the state hash) which can be used to guarantee the integrity/immutability of the blockchain and verify various parts of the state (i.e. Merkle Proofs).

# Origin Document
[Pocket protocol persistence specification](https://github.com/pok

[2022-07-18 21:39] Olshansk opened #114 "[Integration] Remove `NodeState` singleton"
# Objective
Remove "hacky" code that was introduced during the cross-module integration such as the `NodeState` singleton.

# Origin Document
A lot of tech debt was introduced to maintain the global node state during the cross-module integration stage. This can be see across several files such as `config.go`, `genesis.go` and the `NodeState` struct.

Note that this is a milestone-less issue since

[2022-07-20 16:56] #114 closed

[2022-07-21 00:23] Olshansk opened #117 "[Documentation] V1 Pocket Specification Visualizations"
# Objective
Visualize the [Pocket Network V1 Specifications](https://github.com/pokt-network/pocket-network-protocol) to \*_demisitify its secrets_\* so it can be understood by everyone.

# Origin Document

A summary of the [V1 specs](https://github.com/pokt-network/pocket-network-protocol) is accessible [here](https://docs.pokt.network/home/learn/future). Though the specifications are still under

[2022-07-22 00:44] okdas opened #118 "[Telemetry/Observability] Standardize metrics and logs"
# Objective
Provide a way to monitor process and investigate issues for local deployments

# Origin Document
N/A

# Goals / Deliverables
- [ ]  Investigate [https://opentelemetry.io/](https://opentelemetry.io/) if existing SDKs are a good fit
- [x]  add golang process metrics (covered to some extent by #95)
- [ ]  add app specific metrics (blockchain height, msg_ counts, etc.)
    - [ ]  Only data

[2022-07-23 05:33] phthan0 commented on #109
Worked on this extensively the week of 7/22. I ran into trouble with the data handling around the threshold aggregation, but the BLS signature generation is not too bad. Need to investigate a less complicated way to do threshold validation than what is linked above.

Bender

[2022-07-23 23:38] Olshansk commented on #113
We're continuing to do research but a high level plan in terms of implementing this will be:
1. Pick a tree and KV and build a small interface on top of it. The underlying tech might change but the goal is to keep the interface small.
2. Add a block store.
3. Add loading a state from the block store.
4. Add  the state trie for a single dataset/set (e.g. validators) and only compute the state hash

[2022-07-23 23:41] Olshansk opened #120 "[Persistence] Block Store"
# Objective
Implement a block store to save & load blocks from disk.

# Origin Document
This is one of the first steps [[Persistence] Merkling a State Hash](https://github.com/pokt-network/pocket/issues/113)

# Goals / Deliverables
- [ ] Save blocks to a KVStore
- [ ] Load blocks from a KVStore
- [ ] Create a light KVStore wrapper around, so we're not locked into a specific tool
- [ ] Fill in gaps

[2022-07-25 16:11] Olshansk commented on #109
@phthan0 Is there a WIP branch we can reference in the meantime?

[2022-07-25 16:37] phthan0 commented on #109
https://github.com/pokt-network/pocket/pull/122

[2022-07-25 23:05] Olshansk opened #123 "[P2P] Deprecate P2P and replace with Pre2P"
# Objective
Remove all Pre2P code

# Origin Document
See this milestone: https://github.com/pokt-network/pocket/milestone/12

# Goals / Deliverables
- [ ] Remove all P2P Code
- [ ] Rename Pre2P code to P2P Code appropriately

## General issue checklist
- [ ] Update the appropriate CHANGELOG
- [ ] Update the README
- [ ] Update the source code tree explanation
- [ ] Update the Makefile

# Non-goals

[2022-07-26 23:01] andrewnguyen22 commented on #85
I'm increasing the scope of this issue to add the cleanup layer

[2022-07-26 23:28] Olshansk commented on #118
@okdas Can you attach this to a milestone?

[2022-07-26 23:40] Olshansk commented on #120
Actively working on this in https://github.com/pokt-network/pocket/pull/121.

The work will likely span multiple PRs.

[2022-07-26 23:41] Olshansk commented on #113
The research will be presented in this document once complete: https://docs.google.com/presentation/d/1dgXVKLf_uqnviCMC-VfVsmy64j8ihY3AkySZDMr3tyU/edit#slide=id.g13a056bedcb_0_22

[2022-07-27 00:01] Olshansk opened #125 "[Consensus] State Sync - Documentation & Initial Block By Block Design"
# Objective
Design an interface and outline a flow for a block by block state sync

# Origin Document
As described in the [V1 Pocket Network Consensus Specification](https://github.com/pokt-network/pocket-network-protocol/tree/main/consensus), we need to fully implement state sync to enable new and existing nodes to stay in sync with each other.

# Goals / Deliverables
- [ ] A sequence diagram sho

[2022-07-27 00:13] Olshansk opened #126 "[Utility] DSL For end-to-end testing"
_* Requirments for this are still a WIP_

# Objective
Create a DSL for scripting end-to-end tests.

# Origin Document
We want to be able to easily simulate pre-defined "user flows" or "user stories" as well as enable end-to-end fuzzing.

This ticket tracks the first iteration of such a framework.

For example, one potential solution to this could involve the use of [Cucumber and Gherkin](https://c

[2022-07-27 03:24] Olshansk commented on #123
Wanted to leave a comment here that this issue was owned and assigned to @andrewnguyen22, and both myself and Andrew are doing work that will heavily conflict with anyone else touching this.

@DragonDmoney From discord (see screenshot below), we know you're also working on this but it is beginning to block the work we need to do. Would you prefer to submit your PR so we can review it and merge it

[2022-07-27 15:32] andrewnguyen22 opened #128 "[Persistence] Enable multiple persistence contexts on PostgresContext"
# Objective
Enable the lifecycle of block processing and production by creating a transactional architecture around persistence contexts instead of writing directly to the database on every operation.

# Origin Document
### Background
Multiple persistence contexts enable a proper lifecycle for validators and fullnodes as they maintain 'ephemeral' states in situations like block validation/processi

[2022-07-28 08:36] deblasis opened #129 "[UX] `make protogen_clean` fails if there are no generated files"
# Objective

Improve Developer UX

# Origin Document

Currently, when following the [guidelines](https://github.com/pokt-network/pocket/blob/main/docs/development/README.md#prepare-local-environment) for preparing a local environment, the user is faced with an error

![image](https://user-images.githubusercontent.com/29378614/181459284-69776f68-baf9-4e19-807b-28d58075cf55.png)

# Goals / Deliverab

[2022-07-28 09:53] deblasis opened #131 "[UX] several `Makefile` commands fail because of `builtin`"
# Objective

Improve Developer UX

# Origin Document

When following the instructions for [running LocalNet](https://github.com/pokt-network/pocket/blob/main/docs/development/README.md#running-localnet)

the user might encounters the error:

![image](https://user-images.githubusercontent.com/29378614/181471594-2ebf2842-7dd0-4c2f-b81e-11abf2c7ef85.png)

in some shell environments (tested using `zsh

[2022-07-28 18:25] Olshansk opened #133 "[Documentation] Automate a Github wiki from repo READMEs"
# Objective
Create a Github Wiki for Pocket V1

# Origin Document
The main page for https://github.com/pokt-network/pocket contains links to several READMEs spread through the network.

There are a few problems with the current documentation:
1. Some READMEs are still hidden throughout the repo
2. Getting a high-level view of all the documentation is difficult
3. There is no summary of the README

[2022-07-28 20:06] #129 closed

[2022-07-28 20:10] #131 closed

[2022-07-28 20:11] Olshansk commented on #131
Thank you @deblasis! Really appreciate these small tooling/documentation edits that everyone is going to hit as more people are onboarded.

[2022-07-28 20:11] Olshansk commented on #129
Per my comment in https://github.com/pokt-network/pocket/issues/131, ty!

[2022-07-28 22:12] okdas opened #134 "[Infrastructure] Deploy DevNet(s) of V1"
# Objective
Deploy the V1 LocalNet to a remote environment (e.g. AWS, GCP, etc…)

# Origin Document
No origin document necessary. A functional DevNet is the first step needed for a functional TestNet

# Goals / Deliverables
- V1 Configurations
    - [ ]  Generalize the V1 LocalNet infrastructure to run any number of validators
    - [ ]  Improve the V1 codebase to more easily configure nodes

[2022-07-29 11:34] deblasis commented on #76
Hi there guys! I will be looking into this one if you don't mind 🙂

I just had a glance at it and I have a couple of questions to make sure I understand:

1. What is the difference between `param` and `flag`? I am assuming it's an optimization around the datatype? If that's the case
The schemas for `params` and `flags` look identical, including their PKs. Perhaps `flags` should be something like:

[2022-07-29 16:35] andrewnguyen22 opened #136 "[Utility] Create State Object in place of GenesisState"
# Objective
Convert GenesisState and GenesisActor into State{} and Actor{}

# Origin Document
Currently we have 'genesis actors' and 'genesis state', but in reality this object reflects the state in its entirety. For clarity and ease of understanding, we should maintain a State{} object that is shared among the persistence and utility module.

# Goals / Deliverables
- [ ] Code complete dellivery
-

[2022-07-30 23:16] Olshansk commented on #76
@deblasis tl;dr Appreciate the help and want to start the discussion but would hold off on implementing this one just yet...

---

Having created and labelled this as a starter task, I'll take the heat that I may have prematurely left it out for the community to pick up. Since the project is young, and this is a great ticket to get a feel for the whole codebase, there are still a handful of ongoin

[2022-08-01 07:55] deblasis commented on #76
Hi @Olshansk!

no problem, it makes sense. I am going to have a look at the issues you mentioned in order to have more context (pun intended) and I'll keep an eye on #v1-dev on DIscord.

Any conflicts I am happy to resolve them when the time comes but I agree that they should be minimized especially if big changes are expected in the short run.
When I saw your comment I had already started working

[2022-08-01 21:08] #120 closed

[2022-08-01 22:19] Olshansk commented on #76
The PR looks awesome. Thank you so much for your contribution!

Let's keep the conversation/discussion there, but I think we should just move forward with it because it's a great change to the project

[2022-08-01 23:43] Olshansk commented on #112
### 1) Determine if the existing client suffices to fit these needs (i.e. passing params for addresses and values)

Sounds good to me.  For reference, the [pocket V0 CLI](https://github.com/pokt-network/pocket-core/tree/0f0501de8ab9d5035d388b40ad80e5b4519805af/app/cmd/cli) (which forked Tendermint) uses cobra, and ignite cli also uses cobra in its [newer version](https://github.com/ignite/cli/tree

[2022-08-02 16:50] andrewnguyen22 commented on #112
Checkout `/utility/doc/changelog.md`

Nodes get slashed and then removed from consensus with a 'pause' which in the first iteration will be automatic (like Cosmos). In the subsequent implementation where we add the 'Pocket Specific' stuff, we'll add a manual 'Pause' message for operators who want to temporarily take their node offline without being slashed.

I don't think these flags are necessary

[2022-08-03 17:44] #123 closed

[2022-08-03 17:59] deblasis opened #141 "[Utility] Error propagation bug in actor `CheckAboveMinStake`"
# Objective

While working on #139 I bumped into failing `TestUtilityContext_HandleMessageStake` tests.
During my analysis, I found out that the underlying issue was my incomplete refactoring (expected) but the error is not propagated correctly.

https://github.com/pokt-network/pocket/blob/main/utility/actor.go#L445-L448

# Origin Document

Incorrect behaviour

# Goals / Deliverables
- [ ] Fix inc

[2022-08-03 21:11] #141 closed

[2022-08-03 21:23] Olshansk commented on #61
Closing this since we are moving forward with Pre2P and some of the other tasks cover followup work.

[2022-08-03 21:23] #61 closed

[2022-08-03 21:25] Olshansk commented on #44
Closing per the comment above

[2022-08-03 21:25] #44 closed

[2022-08-03 21:26] Olshansk commented on #43
Going to close this out for now as we'll revisit it as the project matures.

[2022-08-03 21:26] #43 closed

[2022-08-03 22:06] Olshansk commented on #93
For anyone who comes by this issue, I recently found this diff that removed this feature (which we actually want here): https://github.com/celestiaorg/smt/pull/68/files

GitOps is an alternative tool we can use in addition / instead of a PreCommit hook.

Disclaimer: I did not do in-depth research into this.

[2022-08-03 22:13] Olshansk commented on #85
This is being worked on in https://github.com/pokt-network/pocket/pull/137

[2022-08-03 22:16] Olshansk commented on #102
@DragonDmoney Do you think this is something you can have up for review by the end of the month?

[2022-08-03 22:29] Olshansk commented on #39
@derrandz Do you think this could/should be closed in favour of https://github.com/pokt-network/pocket/issues/126 or should we keep it open as a separate issue?

[2022-08-03 23:00] Olshansk opened #143 "[Telemetry] Distributed Tracing in a V1 Node"
# Objective
Add distributed tracing through the V1 Node.

# Origin Document
[Distributed Tracing](https://www.datadoghq.com/knowledge-center/distributed-tracing/) is a pretty common pattern used to track the lifecycle and movement of a request throughout/across infrastructure/codebase

# Goals / Deliverables
- [ ] Pick a tool to use for distributed tracing (Jaeger, Zipkin, monkit, etc...)
- [ ] Id

[2022-08-03 23:06] Olshansk opened #144 "[Automation] Automate TODO -> Issue creation"
# Objective
Automate the process of converting TODOs and other tags in the codebase into Github issues.

# Origin Document

In the main [Makefile](https://github.com/pokt-network/pocket/blob/main/Makefile#L300), we currently have this target:

[code]

In order to track this more concretely and transparently, we can use https://github.com/DerJuulsn/todo-issue to automate that process.

# Goals / De

[2022-08-04 00:21] okdas opened #145 "[Infrastructure] K8s operator initiative kickoff"
# Objective
We are exploring idea of developing a Kubernetes Operator to manage v1 Pocket Nodes as an alternative to using Helm/jsonnet/kustomize along with CD operator.

# Origin Document
https://www.notion.so/pocketnetwork/K8s-Operator-kickstart-8c61feb06e1949d5bc1d9f4d5548449d

# Goals / Deliverables
- [ ] Need to kickstart an operator in a separate repo (we will create one)
- [ ] Must support

[2022-08-04 01:45] Olshansk opened #147 "[Persistence] Compute State Hash"
# Objective
Compute a hash in order to take a snapshot of the V1 state via a single hash.

# Origin Document
See the entire conversation around the **state hash** in https://github.com/pokt-network/pocket-network-protocol/tree/main/persistence.

# Goals / Deliverables
- [ ] Determine if we should use a Merkle Tree or Vector Committments
- [ ] Pick a library for the merkle Tree or commitments
- [ ]

[2022-08-04 01:51] Olshansk commented on #147
The team's internal research is being aggregated [here](https://docs.google.com/presentation/d/1dgXVKLf_uqnviCMC-VfVsmy64j8ihY3AkySZDMr3tyU/edit#slide=id.g1430664656b_0_56) and will be shared publically once complete. _If you would like access aprior, please reach out to the team and we'd be happy to share._

We are currently planning to use [https://github.com/celestiaorg/smt] originally implemen

[2022-08-04 13:57] derrandz commented on #101
Merging #135 Ticks off deliverables (1, 2, 3, 4). The remaining deliverables will be addressed in a separate PR.

[2022-08-04 14:06] derrandz commented on #39
@Olshansk Agreed, kudos for suggesting Ghenkis and Cucumber.

[2022-08-04 14:06] #39 closed

[2022-08-04 14:18] andrewnguyen22 opened #148 "[Persistence] Fix gov parameters schema and enable usability"
# Objective
Simplfy gov parameters
Adopt the same schema architecture as the actors (sort=desc limit=1 etc.)

# Origin Document
The persistence module's parameter schema doesn't work with same block updates.

It is also quite difficult to use to update easily and manage.

# Goals / Deliverables
- [ ] Deliver a code complete revamp of gov/params
- [ ] Deliver a document outlining the new architectu

[2022-08-04 14:20] andrewnguyen22 opened #149 "[Persistence] Fix Persistence Module TODOs - Consolidate Postgres"
# Objective
A general cleanup issue is needed to tackle TODO's and ensure the persistence module is usable/readable by consolidating `PostgresContext` and `PostgresDb` as part of https://github.com/pokt-network/pocket/issues/172.

# Origin Document
Should follow issue-#128, issue-#105, issue-#147 and issue-#148 the persistence module is messier and more difficult to understand than the developers

[2022-08-05 17:43] andrewnguyen22 opened #150 "[Keybase] Miniature Keybase Implementation to Enable M1 - Create and Delete"
# Objective
Create a miniature Keybase that can create, store, and delete keys

# Origin Document
In order to achieve the M1 milestone a mini-keybase implementation is needed to enable dynamic accounts and actors.

This keybase may be used for the following tasks:
- Signing blocks
- Signing transactions
- Signing arbitrary messages
- Signing multi-sig messages

# Goals / Deliverables
Mini ED-25519

[2022-08-05 17:45] andrewnguyen22 commented on #150
**NOTE**: Please use the `/shared/crypto/ed25519` as the P/K library

[2022-08-05 17:46] andrewnguyen22 commented on #150
**Recommend** to use a filesystem db for the implementation

Currently we are between `Badger.db` and `Level.db`

Please use one of these two options

[2022-08-05 18:10] andrewnguyen22 opened #151 "[Persistence] Base transaction indexer"
# Objective
- **CREATE** an `indexer` for arbitrary transaction bytes
- **USE** `protobuf3` (already used throughout the project) for encoding and a `filesystem db` for storage
- **INDEX** each transaction for `<sha3>hash`, `height`, `sender`, `recipient (if applicable)`
- **EXPOSE** an `interface` for write and read
- **TEST** create `unit`, `fuzz`, and `integration` tests

**Example interface**

[2022-08-05 18:11] andrewnguyen22 commented on #151
**Recommend** to use a filesystem db for the implementation

Currently we are between `Badger.db` and `Level.db`

Please use one of these two options

[2022-08-05 18:18] phthan0 commented on #151
90% sure I'm going to choose leveldb without even fully reading all the
information

On Fri, Aug 5, 2022, 2:11 PM Andrew Nguyen ***@***.***> wrote:

[2022-08-05 20:54] Olshansk commented on #149
Outside of the context of this, just figured I'd share that after we do a team massive cleanup of all our TODO tags, we can also automate it via https://github.com/pokt-network/pocket/issues/144.

@andrewnguyen22 Please also attach issues to the **V1 Dashboard** Projects so we can see it all in one place

[2022-08-05 20:54] Olshansk commented on #39
Can't take credit for the idea. @iajrz and @luyzdeleon are using it for v0 and I figured we'd leverage the same thing.

[2022-08-06 03:16] Olshansk commented on #113
This is a WIP but being tackled here: https://github.com/pokt-network/pocket/pull/152

[2022-08-06 03:21] Olshansk commented on #148
@deblasis is already working on this in https://github.com/pokt-network/pocket/pull/139

<img width="1272" alt="Screen Shot 2022-08-05 at 11 20 25 PM" src="https://user-images.githubusercontent.com/1892194/183231541-4ac42481-c756-497a-ae5b-175c1569296d.png">

I'm going to take a first stab at reviewing that PR this weekend but just added you as a reviewer to take another look after

[2022-08-07 15:51] andrewnguyen22 commented on #149
Good call ^

[2022-08-07 21:35] andrewnguyen22 opened #154 "[Genesis and Config] Replace the placeholders with mvp implementations"
# Objective
- [ ] Replace genesis.json with mvp genesis object json file
- [ ] Replace config.json with mvp config object json file
- [ ] Explicitly define and document the genesis and configuration processing lifecycle for each module
- [ ] Explicitly define and document the genesis state exportation (state dumps) for each module

# Origin Document
The current implementation is a POC that enables

[2022-08-08 18:54] Olshansk opened #156 "[Cleanup] Rewrite `interface{}` to `any`"
# Objective
Replace all `interface{}` with `any`. See https://github.com/golang/go/issues/49884:

<img width="916" alt="Screen Shot 2022-08-08 at 2 53 12 PM" src="https://user-images.githubusercontent.com/1892194/183492652-b63f39d8-481d-4526-8bd3-2e70894bcb16.png">

# Origin Document

The suggestion was brought up here: https://github.com/pokt-network/pocket/pull/139#discussion_r940182627

<img wi

[2022-08-08 22:44] Olshansk commented on #154
@andrewnguyen22 Since you plan on tackling this later this week, wanted to add something I've been wanting to fix here. Partially, I'm leaving it as a comment so I don't forget either.

Inside of [shared/types/genesis/validator.go](https://github.com/pokt-network/pocket/blob/main/shared/types/genesis/validator.go#L10), I added the code snippet below, which was a hack I'm a bit ashamed of. It was n

[2022-08-09 08:28] deblasis opened #160 "[Automation] prevent PR merging depending on label/PR title"
# Objective

Introduce a Github action that forbids PR merging whenever the PR in question has a label `do not merge` or `WIP` in its title.

# Origin Document

While working on https://github.com/pokt-network/pocket/pull/139 we ended up having an "almost complete" work but we wanted to avoid an accidental merge.

![image](https://user-images.githubusercontent.com/29378614/183601223-e184f2de-fdd2-

[2022-08-10 19:11] andrewnguyen22 opened #163 "[Core] Minimize shared module"
# Objective
- [ ] Assign all `structures` to respective modules
- [ ] Create shared `interfaces` that allow cross module sharing of objects without compromising ownership
- [ ] Avoid 1.18 generics and reflection when possible

# Origin Document
Most if not all structure ownership needs to be delegated to the respective packages in order to maintain the modularity of the design. The shared module i

[2022-08-10 20:05] andrewnguyen22 commented on #163
If it's not clear by the issue description;

This issue is about properly scoping and encapsulating structures while maintaining shared interfaces within the shared package.

This is a follow up to #154

[2022-08-11 22:28] #160 closed

[2022-08-11 23:22] Olshansk opened #164 "[Telemetry] Design shared logging module"
# Objective
Create the foundations to unify and standardize the logging approach across the entire codebase.

# Origin Document

See the github discussion for full details: https://github.com/pokt-network/pocket/discussions/214

The implementation of this was started by @derrandz here: https://github.com/pokt-network/pocket/pull/162.

This ticket can either build on top of the existing WIP or use

[2022-08-15 14:42] andrewnguyen22 commented on #102
Somewhat tackled in #154 by merging the two structures in protobuf. Will leave the rest to #163

[2022-08-15 14:49] andrewnguyen22 commented on #109
Duplicate of #107?

[2022-08-15 14:49] andrewnguyen22 commented on #107
Closing in favor of #109

[2022-08-15 14:49] #107 closed

[2022-08-15 21:50] #128 closed

[2022-08-15 21:50] #104 closed

[2022-08-15 21:50] #105 closed

[2022-08-15 22:00] Olshansk commented on #109
A potential library we can use for this is https://pkg.go.dev/go.dedis.ch/kyber.

[2022-08-15 22:02] Olshansk commented on #102
Spoke to @DragonDmoney offline and he mentioned he won't be working on this any longer.

[2022-08-15 22:03] Olshansk commented on #107
This was an "integration" issue associated with the milestone, but we're not doing that anymore.

[2022-08-17 15:47] #76 closed

[2022-08-17 22:56] andrewnguyen22 opened #168 "[TxIndexer] Integration of transaction indexer"
# Objective
Integrate the transaction indexer into the lifecycle of M1

# Origin Document
Issue-#151 laid the foundation for a proper transaction indexer in isolation.

The integration of the transaction indexer into the M1 lifecycle is pending and required.

In addition, pagination and `deleteAtHeight` functionality would be extra.

# Goals / Deliverables
- [ ] Code complete deliverable
- [ ] Doc

[2022-08-19 09:30] deblasis commented on #112
Thanks for the answers guys!

WIP PR coming soon, I have a non-blocker question:

1. Private key handling:

![image](https://user-images.githubusercontent.com/29378614/185579863-df203655-5927-41da-b580-4c811632ad9d.png)

When you refer to `0xval_address_where_priv_key_is_on_file`  how do you want me to handle that input? I saw that `pocket-core` basically uses a keybase that we can query given an

[2022-08-21 16:46] andrewnguyen22 commented on #112
Hmm we do have a keybase for V1

https://github.com/pokt-network/pocket/issues/150

For now just take it as a ``--path_to_private_key_file`` and make the private key plain text json for now

[2022-08-21 16:47] andrewnguyen22 commented on #148
closed with #139

[2022-08-21 16:47] #148 closed

[2022-08-22 13:27] deblasis commented on #112
Hi @andrewnguyen22 and @Olshansk!

Forgive me for the delay, unfortunately, I have been dragged into other things.
This is the first batch of changes in an MVP kind-of fashion, at least I guess it's gonna tell where I am going with this.

Blatantly inspired by V0 and ignite.

Please have a quick look and point out anything that sounds just wrong apart from not implemented yet :)

I understand that

[2022-08-22 14:39] Olshansk commented on #41
Closing for housekeeping but may reopen in the future.

[2022-08-22 14:39] #41 closed

[2022-08-22 14:39] Olshansk commented on #54
Closing for housekeeping but may reopen in the future.

[2022-08-22 14:39] #54 closed

[2022-08-22 14:42] Olshansk commented on #55
Closing for housekeeping but may reopen in the future.

[2022-08-22 14:42] #55 closed

[2022-08-22 14:43] Olshansk commented on #53
Closing for housekeeping but may reopen in the future.

[2022-08-22 14:43] #53 closed

[2022-08-22 14:53] Olshansk commented on #69
Closing for housekeeping but may reopen in the future.

[2022-08-22 14:53] #69 closed

[2022-08-22 15:03] Olshansk commented on #62
Closing for housekeeping.

[2022-08-22 15:03] #62 closed

[2022-08-22 15:03] Olshansk commented on #58
Closing for housekeeping.

[2022-08-22 15:03] #58 closed

[2022-08-22 15:16] Olshansk commented on #164
Note that there will be cross-dependencies between this and https://github.com/pokt-network/pocket/issues/118

[2022-08-22 16:52] Olshansk commented on #163
@andrewnguyen22

Agreed on trying to avoid reflections in prod.  However, I believe that using generics is a + as it improves code readability and reduces the code footprint. Happy to discuss offline

If you can break these two down in 2 (or more) PRs, I think it'll really help with conflict resolution and reducing the scope of the PR.

[2022-08-22 16:55] andrewnguyen22 commented on #163
You can't have one without the other

[2022-08-22 16:57] andrewnguyen22 commented on #163
Okay, not strong on this so I won't tackle. Although I'm willing to bet that once you see the interface versions of things, there might be an opportunity to achieve the same goal without reflection

[2022-08-22 22:32] Olshansk opened #172 "[TECHDEBT] Persistence code-review follow (tend TODOs added via a PR rather than a code review)"
# Objective

Tend to and prioritize all of the issues introduced in https://github.com/pokt-network/pocket/pull/171.

# Origin Document

1. There was a major PR that touched most configurations here: https://github.com/pokt-network/pocket/pull/166
2. In order to avoid time on conflict resolution after major code reviews, the code review was the in the form of TODO being left throughout the code he

[2022-08-23 02:01] Olshansk commented on #136
@andrewnguyen22 Could you provide more details on what you had envisioned here? Perhaps an example struct or interface?

Seems like exposing it via the app-specific bus would be sufficient?

[2022-08-23 02:11] Olshansk commented on #112
Thanks @deblasis! Going to take a look and leave comments. Also ccing [@adshmh](https://github.com/adshmh) who will likely help with the RPC spec and CLI moving forward.

I think that's the right approach here

[2022-08-23 02:14] Olshansk commented on #111
@andrewnguyen22 Is there any other work you were thinking of doing here?

[2022-08-23 02:15] Olshansk commented on #106
This was originally an integration issue and the scope of it is way too big. Closing for housekeeping.

[2022-08-23 02:15] #106 closed

[2022-08-23 02:17] Olshansk commented on #86
@derrandz If we were to adopt [libp2p](https://libp2p.io/), do you think we would get most of these benefits out of the box?

[2022-08-23 02:32] Olshansk commented on #101
The foundation for telemetry has been merged into main so closing this out.

[2022-08-23 02:32] #101 closed

[2022-08-23 02:32] Olshansk commented on #164
A WIP implementation of this is available here: https://github.com/pokt-network/pocket/pull/162

[2022-08-23 02:40] Olshansk opened #173 "[Telemetry] First iteration of Grafana Logging Dashboards for LocalNet"
# Objective
Prepare the infrastructure to enable centralized logging for a node in LocalNet.

# Goals / Deliverables
- [ ] A grafana dashboard that allows toggling logs by level (i.e. warn, error, debug, etc...)
- [ ] A grafana dashboard that allows toggling logs by module source (i.e. consensus, p2p, etc...)
- [ ] A list of requirements to the protocol team on how we need to format logging to ena

[2022-08-23 02:46] Olshansk commented on #134
Just jotting some ideas down, but we'll need a more proper design later.

Each user / owner / deployer of a DevNet should be able to do something like:

[code]

cc @andrewnguyen22 and @adshmh for context

[2022-08-23 14:41] deblasis commented on #112
Awesome! Thank you @Olshansk! (nice to meet you @adshmh ! )

I am pushing updates here and there to address the **TODOs**.

A couple of questions (non blockers):
1. Regarding the PrivateKey we should currently read from file, should I read a plain text PrivateKey or should I port encryption and passphrase handling like in V0 (basically what's called `ArmoredJson` and everything around it?)
2. I gu

[2022-08-23 14:42] Olshansk opened #174 "[Utility] Fisherman Protocol - Charts & Diagrams"
# Objective
Create sequence diagrams and flow charts for the fisherman protocol.

# Origin Document

The fisherman protocol is the core of the V1 Pocket Network. As described in the [V1 Pocket Network Utility Fisherman Protocol Specification](https://github.com/pokt-network/pocket-network-protocol/tree/main/utility#33-fisherman-protocol), there are a lot of moving parts here.

# Goals
- [ ] Make t

[2022-08-23 15:49] Olshansk opened #175 "[Automation] Automate Go Formatting and similar tasks"
## Objective

Create a foundational infrastructure so it is to automate certain tasks on pre-commits or PRs to avoid doing repetitive tasks.

## Origin Document

In https://github.com/pokt-network/pocket/pull/171, we did a code review to follow up on another PR after it is merged to master. See https://github.com/pokt-network/pocket/pull/166#issuecomment-1223262358 for details.

This approach rais

[2022-08-23 16:51] Olshansk commented on #175
Discussed offline with @adshmh and we have a couple options here:
1. A github check that runs `gofmt` errors out on non-empty diffs
2. Add prerecommit hoooks. See https://github.com/dnephin/pre-commit-golang for an example

[2022-08-23 19:47] PoktBlade commented on #175
Sounds like we need a linter?

[2022-08-23 19:49] PoktBlade commented on #175
https://github.com/golangci/golangci-lint

I was noticing that we are enforcing some rules, i.e: https://github.com/pokt-network/pocket/issues/156 then we can introduce a linter to enforce these rules alongside ensuring that formatting is consistent

[2022-08-23 19:49] Olshansk commented on #175
We have https://github.com/pokt-network/pocket/blob/main/Makefile#L89, but we want to automate it.

1. I'm sure there are better linters
2. I'd like to have the foundation to add our specific "rules" to the linter

[2022-08-23 19:50] Olshansk commented on #175
@PoktBlade Added the `community` label in case you want to take it on.

[2022-08-23 20:28] adshmh commented on #175
Thanks. We can even do both:
 - the pre-commit hooks will fix the formatting before the PR is opened.
 - the gofmt and git diff check will be one of the CI checks to catch any incorrect formats before PR is merged.

[2022-08-23 22:57] Olshansk commented on #145
@okdas Could you link to the repo or any other resources/details that's tracking work for this?

[2022-08-23 22:58] Olshansk commented on #150
tl;dr @adshmh Could you or someone on your team take this on?

@andrewnguyen22 did a detailed job at explaining what we need from a basic keybase solution. This is a precursor that can be worked on in parallel with the CLI being built by @deblasis: https://github.com/pokt-network/pocket/pull/169/files

The keybase doesn't need to be anything fancy, and I think it can actually be _copy-pastad_ or e

[2022-08-27 15:52] Olshansk commented on #86
Closing this ticket due to the large scope. It can be used as a reference for the future.

@derrandz If you believe we should reopen it as is, or have views on the benefit of using libp2p, please let us know.

[2022-08-27 15:52] #86 closed

[2022-08-27 15:55] Olshansk commented on #145
For reference, the demo video can be found here: https://www.youtube.com/watch?v=Tf9Qtr1gi3U

Links to the relevant repos and WIP is:
* v1 Pocket Operator (work in progress): [https://github.com/pokt-network/operator](https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbl9OcDlfanNJX1VHQUhQazEtZnBXTF9LYW5Ud3xBQ3Jtc0tuVjQ3V3B4aG5VTVhZWF90Tl9COElTLUxycGNRRUVxRFFveG5RVG1KYU96e

[2022-08-27 15:57] Olshansk commented on #175
Transferring offline discussion with @okdas here.

A few tools we can use are:
* https://staticcheck.io
* https://github.com/quasilyte/go-ruleguard
* https://semgrep.dev/

As a first starting step, we can potentially just automate a few of the targets we have in our [Makefile](https://github.com/pokt-network/pocket/blob/main/Makefile). Specifically:
* `make gofmt`
* `make go_clean_deps`
* `make go

[2022-08-27 17:24] Olshansk commented on #78
@okdas I believe this is done, correct?

If so, I think the only missing piece is documentation. E.g. Adding a README with a link of where the images are being pushed would really help.

[2022-08-28 15:50] Olshansk opened #181 "[Telemetry] Research GoLang logging libraries"
## Objective

Research various logging libraries and compose a list of those that satisfy the requirements we need.

## Origin Document

In order to unblock the work in https://github.com/pokt-network/pocket/issues/173 (i.e. first iteration of logging grafana dashboards), we first need to pick a logging library before we update the codebase and build the dashboards.

## Goals

- [ ] Identify list

[2022-08-28 15:53] Olshansk commented on #118
@okdas Could you review and either close or decompose this issue given the other tasks in the M2 milestone?

[2022-08-28 16:04] Olshansk commented on #112
@deblasis

Use a plain text for now. Could you create a separate github issue to make sure we don't forget to use `ArmoredJson` in the future?

This is heavily dependent on the implementation of the keybase, and I do think that the placeholder + TODO you have in the code so far is the perfect approach to unblock our work. I personally think we should merge it as is to main and iterate once the oth

[2022-08-28 16:05] Olshansk opened #182 "[Config] Add make targets for config & genesis generation"
## Objective

Add new targets to the `Makefile` in order to generate a `genesis.json` file and a list of `config.json` files.

## Origin Document

In order to test various` LocalNet `configurations, especially as we start adding different types of protocol actors in the future, we need to be able to build such configurations easily.

## Goals

An easy-to-use make target to dynamically generate gen

[2022-08-28 16:08] Olshansk opened #183 "[Development] Documentation for local debugging"
## Objective

Document how to use the `dlv` debugger in LocalNet.

## Origin Document

The `LocalNet` CLI and logging are useful, but we need to be able to step through the code in unit tests and in a dev environment

## Goals

- [ ] Anyone who spins up a V1 LocalNet should be able to easily use the debugger, regardless of whether they have experience with it in the past
- [ ] Support `vscode` and

[2022-08-28 18:07] deblasis commented on #112
Will do

Awesome!

Yes, I am still making changes, tomorrow you should get another batch of changes. I want to make sure that you guys like the command propagation so I was thinking that I'll probably implement one command end to end, ask for a review and then depending on your feedback adjust and complete all of them.

[2022-08-29 08:47] deblasis opened #184 "[Keybase] Implement an encrypted wrapper for private keys akin to `ArmoredJson` from V0"
\__DELETE_ME_: Please make sure to update the _Assigness_, _Labels_, _Projects_, _Milestone_ before submitting the issue\_
\__DELETE_ME_: Please make sure to add labels for the purpose (e.g. `persistence`) and priority (e.g. `low`) of this PR\_

## Objective

Implement a secure wrapper around private keys.

## Origin Document

For increased security, we are going to need something like `ArmoredJso

[2022-08-29 15:11] deblasis commented on #112
@Olshansk: I have updated #176 #177 and also #169 which has some extra changes (and also all commits from the other 2 PRs) to basically connect the two parts and provide a complete overview of the changes to address this issue.

In #177 I have only written the "Stake" command and depending on your feedback I'll make the relevant changes and apply them to the other commands as well if necessary (tr

[2022-08-29 19:39] andrewnguyen22 opened #185 "[Automation] Add make targets to group imports"
## Objective

Group imports across the entire codebase, while also deliniating between internal and external imports.

## Origin Document

This is a nicety 'code hygeine' target that was closed as low priority but re-raised by the engineering team.

See [this comment](https://github.com/golang/go/issues/20818#issuecomment-957171375) from the CirclCI team:

<img width="859" alt="Screenshot 2023-03-

[2022-08-29 21:58] okdas opened #186 "[LocalNet] CLI to deploy/scale actors on local environment"
## Objective

Allow to scale different actors on local (currently docker-compose) environment.

NOTE: This ticket is not super well-defined and needs context around how LocalNet is run (https://github.com/pokt-network/pocket/blob/main/docs/development/README.md). Reach out to @okdas for more details.

## Goals

- Allow to specify/change deployment replicas
- Support for different actors (validator

[2022-08-31 22:48] okdas opened #188 "[DevNet] Automatically deploy DevNet from HEAD of main branch"
## Objective

We need to deploy DevNet whenever we update code in main branch.

## Goals

Whenever we have a new commit in the `pocket/pocket` repo main branch, deploy a new version.

TBD: new devnet from scratch, upgrade an existing devnet, or both?

## Deliverable

- [ ] Update DevNet yaml files/version on changes in main branch of https://github.com/pokt-network/protocol-infra repo

## Non-goal

[2022-09-01 00:07] okdas opened #189 "[Telemetry] Dashboard for LocalNet logs viewing & filtering"
## Objective

Build a Grafana dashboard to aggregate, view, and filter logs. This is blocked by:
1. https://github.com/pokt-network/pocket/issues/181
2. https://github.com/pokt-network/pocket/issues/164

## Goals

- [x] Filter logs by source module
- [x] Filter logs by log level
- [ ] Enable pre-configured filters

## Deliverable

- [x] Updates to the grafana dashboard to allow filtering all logs

[2022-09-01 00:15] #118 closed

[2022-09-01 17:41] okdas commented on #78
@Olshansk this is done, correct, and some (though not very deep) documentation pushed as well: https://github.com/pokt-network/pocket/tree/main/docs/build

[2022-09-01 17:41] #78 closed

[2022-09-03 17:18] Olshansk commented on #185
@andrewnguyen22 Feel free to delete the two two lines next time you create a new issue

<img width="855" alt="Screen Shot 2022-09-03 at 1 17 17 PM" src="https://user-images.githubusercontent.com/1892194/188281536-2b07997d-64da-467f-a1e6-26e654ef5fc0.png">

[2022-09-03 17:19] Olshansk commented on #175
@okdas Lmk if you think this is out of scope, but is there a way to block merging the PR if it contains `DISCUSS_IN_THIS_COMMIT` or `TODO_IN_THIS_COMMIT`?

[2022-09-04 06:17] omahs opened #191 "[docs] Broken links in docs"
Hi, I noticed some broken links in your docs, those are the links:

https://docs.pokt.network/js/
https://docs.pokt.network/integrate/account-generation-validation/
https://docs.pokt.network/integrate/transaction-construction/
https://docs.pokt.network/integrate/transaction-verification/

[2022-09-04 16:59] Olshansk commented on #191
Hey, appreciate you noticing these and submitting the PR! https://github.com/pokt-foundation/docs/pull/69

This repo is focused on the V1 implementation of the Pocket Network Protocol, so could you open a corresponding issue in the library where you added the PR? Specifically https://github.com/pokt-foundation

Side note: you lucked out on the PR # ;)

[2022-09-04 16:59] #191 closed

[2022-09-04 17:46] omahs commented on #191
Sweet 😄 I didn't realize the PR #
Ok, I just added the issue there

[2022-09-04 18:32] Olshansk commented on #113
This was an integration issue originally and therefore the scope is too big.

https://github.com/pokt-network/pocket/issues/147

[2022-09-04 18:32] #113 closed

[2022-09-04 18:39] Olshansk commented on #70
Closing this out due to the scope of the issue. We will likely need to cross this again in the future and will handle it then.

@derrandz If you think we should keep this open, please let us know.

[2022-09-04 18:39] #70 closed

[2022-09-04 18:42] Olshansk commented on #111
Closing this out as we tended to some of the work in other PRs and the scope is too large to capture. Follow up issues will be created where necessary.

[2022-09-04 18:42] #111 closed

[2022-09-04 19:25] Olshansk commented on #189
@okdas Please delete these moving forward when you create new issues:

<img width="869" alt="Screen Shot 2022-09-04 at 3 25 12 PM" src="https://user-images.githubusercontent.com/1892194/188330260-84369bd2-f22c-4275-8dc1-c6ad98d7aa5a.png">

[2022-09-05 13:40] iajrz commented on #126
I think Gherkin+Cucumber will do the trick, because it would allow us to build our DSL from a solid base.

Gherkin works by having collections of steps that map to code, thus linking a natural language description to functionality; it gives us a parser, interpreter, tooling, and part of our language. The steps we design are the other part of our language.

For instance, in e2e testing we need to c

[2022-09-06 17:41] Olshansk commented on #175
@okdas Can you attach https://github.com/pokt-network/pocket/pull/190 to this issue?

[2022-09-06 17:54] Olshansk commented on #188
@okdas Please update deliverables and goals of this ticket

[2022-09-06 17:55] Olshansk commented on #181
@okdas Please provides details/updates (even if not done, e.g. a page to notion) as you're working don't this.

[2022-09-07 00:08] okdas commented on #134
We decomposed this ticket into smaller github issues.

[2022-09-07 00:08] #134 closed

[2022-09-07 00:41] okdas commented on #175
There is certainly a way to do this! Do you want me to add it to #190 scope?

[2022-09-07 00:50] okdas commented on #145
We'll set up the tasks in a new repo (https://github.com/pokt-network/operator) and connect them to GH V1 Dashboard.

That ticket was initially created to properly attribute the work, hence the starter pack label (as it was needed to import the task onto dework). We can probably nuke it since we have a separate repo now?

[2022-09-07 12:00] deblasis opened #192 "[Tooling] Flaky tests"
## Objective

Tests should be deterministic

## Origin Document

It looks like that some of our tests are flaky, just logging this for now, I need to dive deeper to understand the root cause(s), it might be something very easy.

A couple of examples:

https://github.com/pokt-network/pocket/runs/8227176834?check_suite_focus=true
https://github.com/pokt-network/pocket/runs/8187453124?check_suite_foc

[2022-09-07 13:27] deblasis opened #193 "[Utility] CLI Usage instructions and specification"
## Objective

Write a User Usage and a specification documenting the CLI features, quirks and whatnot, extending what has been (or not) already written in the CLI README (`app/client/cli/doc/README.md`)

This issue builds on top of https://github.com/pokt-network/pocket/pull/169 (in case it hasn't been merged into `main` at the time of reading)

## Origin Document

The CLI is going to be a multipu

[2022-09-07 14:47] andrewnguyen22 commented on #174
closed in favor of https://github.com/pokt-network/pocket-network-protocol/issues/12

[2022-09-07 14:56] Olshansk commented on #174
@jessicadaugherty Just FYI that per this change, some of our work (related to specs) will be tracked in the other repository (https://github.com/pokt-network/pocket-network-protocol/issues/12) and therefore not show up in the V1 dashboard: https://github.com/pokt-network/pocket/projects

[2022-09-07 14:56] Olshansk commented on #174
@jessicadaugherty Just FYI that per this change, some of our work (related to specs) will be tracked in the other repository (https://github.com/pokt-network/pocket-network-protocol/issues/12) and therefore not show up in the V1 dashboard: https://github.com/pokt-network/pocket/projects

[2022-09-07 15:09] Olshansk commented on #145
Nice.

Could you also connect this repo to that dashboard as well?
https://github.com/pokt-network/pocket-network-protocol

cc @jessicadaugherty for context that this may be possible

Got it.

If we do, we have to make sure contributor work is still synched to https://app.dework.xyz/pokt-network

cc @b3nnn  who can help with this

[2022-09-07 15:24] Olshansk commented on #175
Let's do it in a separate issue after #190. Can you create a separate issue for it?

[2022-09-07 16:17] Olshansk commented on #145
@okdas I've updated Dework (with @jessicadaugherty's help) to import issues from the operator repo as well:

https://app.dework.xyz/pokt-network/engineering-35121/settings/github

![Screen Shot 2022-09-07 at 12 17 26 PM](https://user-images.githubusercontent.com/1892194/188928961-312a79e2-960a-4b24-abef-bb76b89708a8.png)

[2022-09-07 16:27] jessicadaugherty commented on #145
if i can get admin permissions on these repos i can handle this @Olshansk

[2022-09-07 16:47] Olshansk commented on #145
^ Invite sent

[2022-09-07 19:17] deblasis commented on #112
Hi guys, below is something that probably I should have shared at the beginning not now...

Next time I'll try to write down more words, in the form of specs/research/questions before diving into VSCode.

Please let me know if the list is exhaustive enough and/or if you would prefer this in a different format.

# Compile a list of examples and references of other RPC specs for next steps:

  - Eth

[2022-09-07 20:49] okdas commented on #173
Taking care of this in https://github.com/pokt-network/pocket/issues/189

[2022-09-07 20:49] #173 closed

[2022-09-07 20:51] deblasis opened #194 "[Utility] CLI - Non custodial Staking command"
## Objective

As implemented in #177, the CLI supports only `Custodial` staking. We need to support `Non Custodial` as well.

## Origin Document

This comment:
[Two separate subcommands - Can you create a follow-up issue to add support for non-custodial CLI support to avoid increasing the scope of this PR.](https://github.com/pokt-network/pocket/pull/177#discussion_r965182073)

## Goals

- [ ] Inc

[2022-09-07 21:15] Olshansk opened #195 "[Telemetry] Design V1 Devnet Dashboard"
# Objective
Research and provide requirements for a public facing V1 Telemetry dashboard that can measure the performance of V1 Devnet components.

# Origin Document

There are several existing examples of gathering and sharing telemetry data that are helpful references for designing our own dashboard:

1. [Rinkeby Testnet](https://www.rinkeby.io/#stats)
2. [NEAR Testnet](https://explorer.testnet.

[2022-09-07 21:18] Olshansk commented on #164
THis is blocked by https://github.com/pokt-network/pocket/issues/181

[2022-09-07 21:32] Olshansk commented on #145
@okdas Can you link to the output of this ticket (youtube video, github repo, etc...) and we can close it out.

[2022-09-07 21:33] Olshansk commented on #186
@okdas When you have any research updates, please post them here.

[2022-09-08 00:00] Olshansk commented on #192
I've been meaning to fix this for a while but just haven't gotten around to it.

The core of the issue is that we're using a Pacemaker to timeout certain steps in the HotPOKT consensus pipeline, and I'm using timeouts to simulate quick rounds.

If you're willing to dive into the code and take a stab at this, I think that would be a great learning experience. Lmk if you'd want to do a "pair coding"

[2022-09-08 00:13] Olshansk commented on #112
@andrewnguyen22 When are you going to join the VSCode club?

@deblasis This summary & takeaways are amazing! We should definitely review these in a call as a team and capture it somewhere else. Perhaps in a doc alongside the readme or in a github discussion (https://github.com/pokt-network/pocket/discussions) so we can continue the research/conversation even after this PR is closed.

[2022-09-08 02:01] okdas commented on #181
There are [so many](https://awesome-go.com/logging/) different logging libraries!

### What existing blockchain clients use

go-etherium: copied [log15](https://github.com/inconshreveable/log15) into the codebase and made some modifications
Erigon: also fork of `log15` https://github.com/ledgerwatch/log/tree/master/v3
AVAX: [uber-go/zap](https://github.com/uber-go/zap)
Algorand: [logrus](https://g

[2022-09-08 13:01] deblasis commented on #192
Say no more. Sounds like an unmissable opportunity.

![image](https://c.tenor.com/8AdYFALA8fEAAAAd/short-circuit-johnny-number5.gif)

I'll dive into the code and if after hitting a few "walls" with my head I start feeling like I am losing consciousness (metaphorically speaking 😆) I'll reach out for help :)

At a glance, from what you are saying, it seems that perhaps time should be mocked so that

[2022-09-08 17:16] jessicadaugherty opened #197 "[Telemetry] LocalNet Dashboard for Node Health & Resource usage (basic)"
## Objective

Design and create a LocalNet dashboard that provides real-time monitoring of the health and resource usage of nodes in the network, including RAM, disk space, CPU usage, sockets, and other relevant metrics.

## Origin Document

?? Document from Lowell??

## Goals

- Develop a user-friendly dashboard interface that displays key metrics for each node in the network
- Provide a dashboar

[2022-09-08 17:22] jessicadaugherty commented on #197
Goal: insight into V1 node resource usage (optionally public facing); incident of v1 node usage using industry standard metrics
User: 1. DevOps 2. Protocol 3. Community
Deliverable: Grafana or other 3P tool dashboards and supporting infrastructure to deploy and use for node usage
Milestone: M2

[2022-09-08 19:49] Olshansk commented on #181
Thanks for the awesome summary @okdas! Let's present and discuss this at our team meeting tomorrow so everyone is on the same page, but otherwise it looks like we have a path forward.

+1 to the use-cases you described in the notes section.

_Note: we should also capture this in a github discussion or in a markdown so this research isn't lost :)_

[2022-09-08 21:57] Olshansk commented on #192
That is correct. I was thinking that there is an opportunity to also simply use channels and block with a timeout, to avoid the race conditions, but haven't driven into it.

Agreed that it's a great idea, so let me know when/if you hit a wall.

![giphy](https://user-images.githubusercontent.com/1892194/189232768-21f440fc-9a43-4887-b4a5-64fbb005ca72.gif)

[2022-09-08 22:25] Olshansk opened #199 "[Persistence] Evaluate Celestia's Sparse Map Tree implementation"
## Objective

Determine if we can leverage an open source Sparse Merkle Tree implementation or if we need to implement our own.

## Origin Document

The implementation of Pocket Network's V1 state hash can be done independently of https://github.com/pokt-network/pocket/issues/147 by leveraging an existing library, but its correctness is dependent on that of the underlying library.

With cosmos lea

[2022-09-09 08:15] deblasis opened #200 "[Tooling] CLI: make sure outputs to the user are not `log` package calls"
## Objective

Make sure that the CLI outputs to the user in the best way possible.

Currently, we are not logging anything inside the CLI, we might in the future, at that point we'll have to distinguish between that's UX and logging but that's another story for another day. KISS for now I'd say.

## Origin Document

A discussion around the use of `log` vs `fmt` package functions when printing stuf

[2022-09-09 08:41] deblasis opened #201 "[Utility] Research and make sure we are handling correctly deterministic serialization"
## Objective

The two JSON below are two different `[]byte` but they represent the same thing. For DDD fans, they represent the same [ValueObject](https://martinfowler.com/bliki/ValueObject.html)

[code]

[code]

Imagine that we receive tho transactions containing two equivalent `MessageStake` that are different only for the order of their keys in the serialized form.

### What should we do in tha

[2022-09-09 14:07] Olshansk commented on #200
@deblasis Tickets like this are fair to just throw into the "Quality of Life" milestone in the V1 Dashboard

<img width="378" alt="Screen Shot 2022-09-09 at 10 05 16 AM" src="https://user-images.githubusercontent.com/1892194/189368767-59b0cfc4-1605-4c22-ace9-04f4bdfbfef1.png">

<img width="354" alt="Screen Shot 2022-09-09 at 10 05 50 AM" src="https://user-images.githubusercontent.com/1892194/18936

[2022-09-09 16:37] andrewnguyen22 opened #202 "[Mockgen] For all test artifacts that are manually created"
\__DELETE_ME_: Please make sure to update the _Assigness_, _Labels_, _Projects_, _Milestone_ before submitting the issue\_
\__DELETE_ME_: Please make sure to add labels for the purpose (e.g. `persistence`) and priority (e.g. `low`) of this PR\_

## Objective

Use mockgen to create mocks in test_artifacts

## Origin Document

Currently - test_artifacts under the `shared module` mocks the genesis an

[2022-09-09 17:45] deblasis commented on #193
First stab here https://github.com/pokt-network/pocket/pull/177/commits/e5c3ae5e532fcc38678c671bc9c48405dd748532

[2022-09-11 19:57] Olshansk opened #203 "[TECHDEBT] Consolidate & encapsulate `ValidatorMap` logic"
## Objective

Encapsulate the concept of a `ValidatorMap` only to the consensus module

## Origin Document

[This discussion](https://github.com/pokt-network/pocket/pull/178#discussion_r965167220) in https://github.com/pokt-network/pocket/pull/178:

<img width="899" alt="Screen Shot 2022-09-11 at 3 15 53 PM" src="https://user-images.githubusercontent.com/1892194/189545145-72ddde0a-6712-4f23-bcd6-1

[2022-09-11 20:02] Olshansk commented on #149
@andrewnguyen22 Per the discussion last friday, I'll take on persistence in the cleanup phase. I'll submit every bullet point here (and others) as a separate PR.

<img width="462" alt="Screen Shot 2022-09-11 at 4 00 23 PM" src="https://user-images.githubusercontent.com/1892194/189546711-23a1d486-26ad-49b7-89b1-55a2d3016951.png">

[2022-09-12 14:54] jessicadaugherty opened #204 "[Keybase] Miniature Keybase Implementation to Enable M1 - Import and Export"
# Objective
Update the miniature Keybase implementation to include importing and exporting private keys as part of https://github.com/pokt-network/pocket/issues/150

# Origin Document
In order to achieve the M1 milestone - a mini-keybase implementation is needed to enable dynamic accounts and actors.

This keybase may be used for the following tasks:
- Signing blocks
- Signing transactions
- Signi

[2022-09-12 14:56] jessicadaugherty opened #205 "[Keybase] Miniature Keybase Implementation to Enable M1 - List and Show"
# Objective
Update the miniature Keybase to list and show public key addresses as part of https://github.com/pokt-network/pocket/issues/150 and https://github.com/pokt-network/pocket/issues/204

# Origin Document
In order to achieve the M1 milestone - a mini-keybase implementation is needed to enable dynamic accounts and actors.

This keybase may be used for the following tasks:
- Signing blocks
-

[2022-09-12 15:09] andrewnguyen22 opened #206 "[TECHDEBT] `GenericParam` & `ActorSpecificParam` with one semantic name"
## Objective

Discuss and agree upon a name for the actor specific parameter that constitutes the `ServiceURL` and `MaxRelays`

- GenericParam
- ActorSpecificParam
- <AddNewOne>

## Origin Document

https://github.com/pokt-network/pocket/pull/178/files#r962183571

## Goals

- Find a proper naming convention and make it consistent throughout the entire codebase

## Deliverable

- Code complete impl

[2022-09-12 16:42] jessicadaugherty commented on #189
Hey @okdas! A few questions about this ticket:

1. Where are logs being aggregated (where does this dashboard live)?
2. Are the logs normalized or will they need to be as part of this effort?
3. What will trigger the updates (i.e. cron job)?
4. May depend on the answer to question #1, but what does filtering mean here (i.e. a UI or a query)?

[2022-09-12 16:43] jessicadaugherty commented on #189
Looks like the answer to #2 is yes, they are standardized per https://github.com/orgs/pokt-network/projects/142/views/12?filterQuery=log

And also looks like we are using Grafana?

[2022-09-12 17:07] jessicadaugherty opened #208 "[TECHDEBT] [Persistence] Fix Persistence Module TODOs - Golang Test Cleanup & Teardown"
# Objective
A general cleanup issue is needed to tackle TODO's and ensure the persistence module is usable/readable by refactoring golang-specific Golang test cleanup & teardown as part of https://github.com/pokt-network/pocket/issues/172 and https://github.com/pokt-network/pocket/issues/149.

# Origin Document
Should follow issue-#128, issue-#105, issue-#147 and issue-#148 the persistence module

[2022-09-12 17:12] jessicadaugherty opened #209 "[Persistence] Fix Persistence Module TODOs - Refactor persistence/genesis.go"
# Objective
A general cleanup issue is needed to tackle TODO's and ensure the persistence module is usable/readable by refactoring persistence/genesis.go as part of https://github.com/pokt-network/pocket/issues/172.

# Origin Document
Should follow issue-#128, issue-#105, issue-#147 and issue-#148 the persistence module is messier and more difficult to understand than the developers would want for

[2022-09-12 17:14] jessicadaugherty opened #210 "[TECHDEBT][Persistence] Fix Persistence Module TODOs - Consolidate Actor"
# Objective
A general cleanup issue is needed to tackle TODO's and ensure the persistence module is usable/readable by consolidating `Actor` with `BaseActor` as part of https://github.com/pokt-network/pocket/issues/172.

# Origin Document
Should follow issue-#128, issue-#105, issue-#147 and issue-#148 the persistence module is messier and more difficult to understand than the developers would want

[2022-09-12 17:16] jessicadaugherty opened #211 "[TECHDEBT][Persistence] Fix Persistence Module TODOs - Lowercase Functions #149"
# Objective
A general cleanup issue is needed to tackle TODO's and ensure the persistence module is usable/readable by making functions lowercase as part of https://github.com/pokt-network/pocket/issues/172.

# Origin Document
Should follow issue-#128, issue-#105, issue-#147 and issue-#148 the persistence module is messier and more difficult to understand than the developers would want for organic

[2022-09-12 17:18] jessicadaugherty opened #212 "[Persistence] Fix Persistence Module TODOs - Multiple Write Contexts #149"
# Objective
A general cleanup issue is needed to tackle TODO's and ensure the persistence module is usable/readable by handling multiple write contexts as part of https://github.com/pokt-network/pocket/issues/172.

# Origin Document
Should follow issue-#128, issue-#105, issue-#147 and issue-#148 the persistence module is messier and more difficult to understand than the developers would want for o

[2022-09-12 18:58] jessicadaugherty commented on #145
https://www.youtube.com/watch?v=Tf9Qtr1gi3U&t=6s

[https://github.com/pokt-network/operator](https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbmlTdUVFUEhFZW1JQmNWUTNnX0tFNXpXWTJPd3xBQ3Jtc0ttY1JXUzZfR2stc25oOWMyTkp4S05RYjdtRjNpQ3dqTVhwVFZ1VEtxSndEYlZYd3hLYWxqZklzalMtYkJlU1dicnNrLXBQZkdubDdWaUZuNGxCVGtXUVpaNVJVTGtvT2Q0ckNGbmIxbGNSNlVEbHU2SQ&q=https%3A%2F%2Fgithub.com%2Fpo

[2022-09-12 23:54] okdas commented on #189
@jessicadaugherty

This effort is to build dashboards for local development - we already have some, but need to do more work there.
Local development instructions are available [here](https://github.com/pokt-network/pocket/blob/main/docs/development/README.md).

We have some tickets to have a better logging strategy in place! :) Currently logs are not structured well and are hard to parse. We shou

[2022-09-13 14:20] Olshansk commented on #189
I think what would help is being explicit about the exact goals/deliverables of this ticket.

This is blocked by:
1. https://github.com/pokt-network/pocket/issues/181
2. https://github.com/pokt-network/pocket/issues/164

Once those two tasks are done, the goals this ticket are:
- [ ] Filter logs by source module
- [ ] Filter logs by log level

The deliverables would include:
- [ ] Updates to the g

[2022-09-13 15:27] Olshansk commented on #181
@okdas Any chance you move the research of this research to a github discussion similar to https://github.com/pokt-network/pocket/discussions/213?

[2022-09-13 23:37] okdas commented on #181
@Olshansk sure thing! https://github.com/pokt-network/pocket/discussions/214

Note I created a separate category "Architecture" - with intent to keep the discussions related to client/software architecture there. Lmk if you don't think this is a good approach.

[2022-09-13 23:37] #181 closed

[2022-09-14 00:23] okdas opened #215 "[Configuration] Utilize viper for configuration management"
## Objective

As we are introducing `cobra` library to manage CLI arguments/flags (in scope of  #112), it makes sense to also utilize `viper` - library from the same maintainers with tight integration with `cobra` - to provide an interface for flexible configuration. This would simplify deployments in container environments significantly, and is an existing pattern in many blockchain clients.

##

[2022-09-14 00:24] okdas commented on #215
Blocked by #112

[2022-09-14 16:55] #163 closed

[2022-09-14 17:55] jessicadaugherty commented on #189
Exactly, thanks @Olshansk! Will review with @okdas and get this back into the flow

[2022-09-14 19:23] Olshansk commented on #175
@okdas Here's an example of a small lint that I'm not sure "an off the shelf" solution exists for: https://github.com/pokt-network/pocket/pull/218

Do you mind seeing what the best approach for this would be?

[2022-09-17 17:33] #182 closed

[2022-09-18 16:46] andrewnguyen22 opened #224 "[TECHDEBT] Utility Module testing package"
## Objective

- Remove all usages of `fmt.Sprintf()` from the testing package
- Replace all usages of `requre.True/require.False` with `require.Equal` unless checking a boolean
- Add helper function for getting height and store for a readable and consistent `typesUtil.Error` value
- Add testing.M argument to `newTestingPersistenceModule`
- Move in-function *literal* arguments for `newTestingPersis

[2022-09-18 16:59] andrewnguyen22 opened #226 "[TECHDEBT] Utility Module, remove `DELETE` *actor* 'No-op' code"
## Objective

Remove all `Delete Actor` related 'no-op' code.

## Origin Document

In the world of blockchain, nothing is ever truly deleted from the `world state`. In this case, the `Delete` operation is essentially a `no-op` because the structure always exists in history.

Since it's clear that we don't have a use for `Delete` currently, the code should be removed until we have sufficient reason

[2022-09-18 17:09] andrewnguyen22 opened #227 "[TECHDEBT] consolidate `utilTypes.UtilActorType` with `utilTypes.ActorType`"
## Objective

Consolidate these two structures into one `proto enum` structure

## Origin Document

Two structures serve the same purpose in the Utility Module - they should be consolidated to one semantic structure.

## Goals

- Lower code footprint
- Lighten cognitive load

## Deliverable

- Code complete implementation
- Update Changelog.md

## General issue deliverables

- [ ] Update the appro

[2022-09-18 17:14] andrewnguyen22 opened #228 "[TECHDEBT] Create Utility Configuration File"
## Objective

Add an encapsulated config file to the utility module

## Origin Document

The Utility Module currently has **hard coded** configurations that should be dynamic based on the `config.json` file.

*See pattern of other module's config*

## Goals

- Allow dynamic configuration of the Utility Module

## Deliverable

- Code complete implementation
- Updated Changelog.md

## General issue

[2022-09-18 17:20] andrewnguyen22 opened #229 "[TECHDEBT] Cleanup Remaining *non-blocked* TODOs in the Utility Module"
## Objective

Cleanup / recategorizes the remaining Utility Module TODO's.

- [ ] Only `blocked` TODO's remain in the module

**NOTE**: this issue should follow #224 #225 #226 #227 and #228

## Origin Document

**TECHDEBT** week general issue to tackle remaining TODO's once

## Goals

- Code health maintenance
- Lower cognitive load

## Deliverable
- Code complete implementation
- Updated changelo

[2022-09-18 17:26] andrewnguyen22 opened #230 "[TECHDEBT] Shared Module, cleanup `testing_artifacts`"
## Objective

Cleanup all TODO's related to `testing_artifacts` in  the`shared` module.

## Origin Document

**Techdebt** week is emphasizing `code health` by removing `hacky` `placeholder` code. A lot of the 'shared structures' within testing_artifacts is just that.

(See applicable TODO's)

## Goals

- Reduce code footprint
- Encapsulate testing logic

## Deliverable

- Code complete implementat

[2022-09-18 17:29] andrewnguyen22 opened #231 "[TECHDEBT] Add TestUtilityCodec in the Shared Module"
## Objective

- Add unit test for UtilityCodec()

## Origin Document

TestUtilityCodec is missing in the `shared module` due to the need for a proto testing structure.

## Goals

- Increase testing code coverage

## Deliverable

- Code complete implementation

## General issue deliverables

- [ ] Update any relevant READMEs (local and/or global)
- [ ] Update any relevant global documentation & ref

[2022-09-18 17:33] andrewnguyen22 opened #232 "[TECHDEBT] Tackle TODOs in `shared/modules`"
## Objective

- [ ] Tackle / recategorize all `non-blocked` TODOs in `shared/modules`

## Origin Document

**Techdebt** week emphasizes code health. Particularly, removing all `placeholder` and `hacky` code.

The past few months, `shared/modules` have built up quite a few TODOs.

The PR should remove all `non-blocked` TODOs

## Goals

- Reduce cognitive load
- Increase code health

## Deliverable

[2022-09-19 22:39] #145 closed

[2022-09-20 17:26] #151 closed

[2022-09-22 23:12] Olshansk opened #239 "[Automation] CI checks for cross-module dependencies"
## Objective

Use custom CI linter checks to avoid cross-module dependencies.

## Origin Document

Even though the Pocket Network V1 implementation is a monolith that will shares artifacts, helpers, interfaces, structures, etc, across different modules, we want to avoid explicit dependency of one module on another and facilitate that communication via the application-specific bus.

In #235, the fo

[2022-09-23 08:06] deblasis opened #241 "[Tooling] Make sure that we respect the `expected` and `actual` order in test assertions"
## Objective

When executing tests, we want meaningful feedback, especially on failure

## Origin Document

While handling TECHDEBT within the P2P module I bumped into several instances in which we erroneously call assertion methods.
Logging this issue so that we don't forget to address the problem.

Example:

![image](https://user-images.githubusercontent.com/29378614/191916530-18453e23-27ba-40a6

[2022-09-23 08:27] deblasis opened #242 "[P2P] Benchmark `BenchmarkAddrBookUpdates` should include actual updates post initialization to be meaningful"
## Objective

We want to be able to measure/benchmark how expensive it is to update addressbooks within the network module.

## Origin Document

Currently we are only initializing the network with a known addressbook, It's true that the current implementation "updates" the addressbook every time we call `processAddrBookUpdates` but we call it on a newly instantiated raintree network once.

I think

[2022-09-23 15:22] deblasis opened #246 "[P2P] [TECHDEBT] AddrBook management optimization and refactoring"
## Objective

Tending to a few TODOs:

- `// OPTIMIZE(olshansky): We are computing this twice for each message, but it's not that expensive.
` ([source](https://github.com/pokt-network/pocket/blob/6ebf52b3eaedaa1829034ea1623b4227d6442def/p2p/raintree/addrbook_utils.go#L65))
- `// IMPROVE(olshansky): Consolidate so the debug print contains all (i.e. both) targets in one log line` ([source](https://

[2022-09-23 15:29] #149 closed

[2022-09-25 18:29] andrewnguyen22 commented on #230
Unassigning myself from this issue because:
- [ ] It's blocked by #235
- [ ] It's controversial due to https://github.com/pokt-network/pocket/discussions/234
- [ ] It should be owned by who ever executes ^

[2022-09-25 18:40] andrewnguyen22 commented on #136
closed with #154

[2022-09-25 18:40] #136 closed

[2022-09-25 19:03] Olshansk commented on #230
I (or potentially someone on @adshmh's team) can help take this on.

In the meantime, @andrewnguyen22, could you take another look at #235?

[2022-09-26 08:34] #242 closed

[2022-09-26 21:34] Olshansk opened #249 "[Consensus][TECHDEBT] Consensus module techdebt consolidation"
## Objective

Consolidate, remove and tend to minor TODOs across the consensus module.

## Origin Document

A lot of learnings and changes have been made to our process since the first implementation of the consensus module, so there is room to do some general 🧹 at a module-level perspective before we change or improve the business logic.

## Goals

- Prepare the consensus module for a proper cons

[2022-09-26 21:35] Olshansk commented on #249
The goal of this issue is to separate out the consensus-only changes from #237 into a smaller and readable PR.

[2022-09-26 21:44] okdas commented on #175
I think these are actually covered by default linter https://staticcheck.io/docs/checks#S1028 (and S1025 above)

Though, `log.` might not be captured (and we are going to move to other logging lib). In any case, we can write a linter rule for it using https://go-ruleguard.github.io which is implemented in #190.

[2022-09-27 03:12] Olshansk opened #251 "[Core] Update module interface required for end-to-end StateHash implementation"
## Objective

Document the cross-module flow and update the interfaces required to compute a stateHash.

## Origin Document

The original ticket to implement the state hash (#147) was first tended to in (#152), but the scope grew and some exploratory work was done in #237.

Since the stateHash is a core component of any blockchain, it needs to be well understood and designed to make sure that it c

[2022-09-28 15:22] #224 closed

[2022-09-28 21:36] Olshansk opened #255 "[IFTTT] IF updated `shared/modules` THEN update `shared/docs`"
## Objective

Raise an error/warning, or block merging, if an interface was updated but a flow was now.

## Origin Document

The following comment in #250:

<img width="853" alt="Screen Shot 2022-09-28 at 2 35 59 PM" src="https://user-images.githubusercontent.com/1892194/192893228-9567c26f-d7ed-440b-b0f4-7ac112e440e1.png">

## Goals

- Inform the author that if a public module interface was update

[2022-09-29 01:47] Olshansk opened #256 "[TECHDEBT][Consensus] Do not export any fields in the ConsensusModule struct implementation"
## Objective

Do not export any fields in the `ConsensusModule` struct implementation.

## Origin Document

During the review process of #250, the following discussion came up in [this thread](https://github.com/pokt-network/pocket/pull/250#discussion_r982346486).

The reason for this is due to the tests in `pacemaker_test.go`:

[code]

As of PR #250, the only fields that remain exported are:
- He

[2022-09-29 14:51] #229 closed

[2022-09-29 18:35] Olshansk opened #257 "[Documentation] Shared markdown linting configs"
## Objective

Add a markdown linting configuration.

## Origin Document

In [this thread](https://github.com/pokt-network/pocket/pull/198#discussion_r973128201) in #198 the topic of markdown linting configs came up to make sure all developers use the same approach.

## Goals

- Have all developers share the same markdown linting configurations in the V1 repo

## Deliverable

- [ ] Documentation on

[2022-09-29 19:29] Olshansk opened #258 "[Code Structure] Follow protobuf enum best practices"
## Objective

Not following best practices for protobuf enum naming.

## Origin Document

In #245, the following change was made:

<img width="1228" alt="Screen Shot 2022-09-29 at 12 06 46 PM" src="https://user-images.githubusercontent.com/1892194/193120710-ce1e72ce-a522-420b-a9cc-85dd588a1df9.png">

In order to follow [best practices](https://developers.google.com/protocol-buffers/docs/style), we

[2022-09-29 20:04] #192 closed

[2022-09-29 22:48] #231 closed

[2022-09-29 23:26] #226 closed

[2022-09-30 21:26] andrewnguyen22 opened #261 "[Testing] Mock 10% Persistence Module in Utility Tests"
## Objective

Mock the Persistence Module for all Utility Testing

## Origin Document

The Utility Module relies on the Persistence Module in order to execute all of it's testing:

See
[code]

Under `utility/test`

## Goals

- Enabling utility tests for persistence business logic that doesn't exist
- Remove cross module imports in Utility
- Allow complete encapsulation of test suite in Utility
- C

[2022-10-03 07:38] deblasis opened #262 "[Persistence] failing tests"
## Objective

Investigate and fix failing tests.

## Origin Document

Failed workflows starting apparently from this:

https://github.com/pokt-network/pocket/actions/runs/3152316267/jobs/5127376867

## Goals

- [x] Fix broken tests

## Deliverable

- [x] 💚

## Non-goals / Non-deliverables

- Change any logic

## General issue deliverables

- [x] Update the appropriate CHANGELOG
- [x] Update any re

[2022-10-03 07:41] deblasis commented on #262
It looks like there's missing mocking config

![image](https://user-images.githubusercontent.com/29378614/193524827-9725865f-3893-4a7e-b04e-49aa93f92379.png)

[code]

[2022-10-03 17:08] andrewnguyen22 opened #264 "[DOCUMENT] Interfaces for the M3 Session Protocol"
## Objective

Code / document interfaces for the Session Protocol to enable consensus and understanding around this piece of the M3 milestone.

## Origin Document

[ M3 Milestone ](https://github.com/pokt-network/pocket/blob/main/docs/roadmap/README.md#m3-pocket-ros-relay-or-slash)

This is the first step into beginning the Session Protocol development.

## Goals

- Clear interface(s) that show th

[2022-10-03 17:10] andrewnguyen22 opened #265 "[DOCUMENT] Interfaces for the M3 Relay Protocol"
## Objective

Code / document interfaces for the Relay Protocol to enable consensus and understanding around this piece of the M3 milestone.

## Origin Document

[M3 Milestone](https://github.com/pokt-network/pocket/blob/main/docs/roadmap/README.md#relay-protocol)

This is the first step into beginning the Relay Protocol development.

## Goals

- Clear interface(s) that show the lifecycle of the r

[2022-10-03 19:37] jessicadaugherty commented on #230
Blocked by #235

[2022-10-03 20:08] deblasis opened #266 "[TECHDEBT] [P2P] Remove stdNetwork and simplify `Network` interface"
## Objective

Tend for the TODO items:

[code]

Refine the goals / priority of this issue since it looks like it has dependencies like "being comfortable with RainTree"

## Origin Document

[ Why? Issue justification and/or link to another document]

## Goals

- _\_*REPLACE_ME*: List of things that are high level ideas or goals driving the task_
- [ ] ...

## Deliverable

- _\_*REPLACE_ME*: List o

[2022-10-03 20:12] deblasis opened #267 "[TECHDEBT] [P2P] Remove Topic from messaging"
## Objective

Tending for the TODOs:

[code]

## Origin Document

Tech debt

## Goals

- [ ] Remove topic from our messaging bus

## Deliverable

- [ ] Make sure that the current functionality is preserved without relying on topic

## Non-goals / Non-deliverables

- Any breaking changes in functionality apart from topic removal

## General issue deliverables

- [ ] Update the appropriate CHANGELOG

[2022-10-03 20:14] deblasis opened #268 "[TECHDEBT] [P2P] Conntype as enum"
## Objective

There are TODOS where ConnType are booleans that should be updated to be enums so we can have more descriptive values where desired as they relate to P2P network actors.

[code]

## Origin Document

[TODO in the code](https://github.com/pokt-network/pocket/blob/main/p2p/transport/transport.go#L17)

## Goals

- Convert P2P booleans to enums

## Deliverable

- [ ] A PR that addresses t

[2022-10-03 20:31] deblasis opened #269 "[TECHDEBT] [P2P] Find a way to avoid self broadcast when calling NetworkBroadcast"
## Objective

Tend for the TODO:

[code]

Clarify with @Olshansk the scope and detail below before start working on it.

### Note to self (pun not intended):
self is at index 0 in the sorted addrbook in the raintree implementation, see if we can naively implement something similar in stdnetwork, unless it's not worth it since stdnetwork seems to be on its way for sunsetting already (see #266)

##

[2022-10-03 20:35] deblasis opened #270 "[TECHDEBT] [P2P] P2P integration with utility for addressBook lookups"
## Objective

Tend for the TODO

[code]

## Origin Document

**Techdebt** week emphasizes code health. Particularly, removing all `placeholder` and `hacky` code.

The past few months, `shared/modules` have built up quite a few TODOs.

The PR should remove all `non-blocked` TODOs

## Goals

- [ ] Address tech debt

## Deliverable

- [ ] Rename ValidatorMapToNetworkPeer to ActorMapToNetworkPeer or A

[2022-10-03 20:43] deblasis opened #271 "[TECHDEBT] [P2P] integration with persistence for addressBook management"
## Objective

Tend for the TODO

[code]

Discuss with @Olshansk to better define the requirements and update below

Related to #222 and #270

### Note to self:
Understand the commonalities between the P2P <-> Utility (#270) and P2P <-> Persistence integrations

## Origin Document

[ Why? Issue justification and/or link to another document]

## Goals

- _\_*REPLACE_ME*: List of things that are high

[2022-10-03 20:47] deblasis opened #272 "[TECHDEBT] [P2P] Optimize raintree mempool for message deduping and add tests"
## Objective

Tend for the TODOes:

[code]

Define scope with @Olshansk and update below

## Origin Document

[ Why? Issue justification and/or link to another document]

## Goals

- _\_*REPLACE_ME*: List of things that are high level ideas or goals driving the task_
- [ ] ...

## Deliverable

- _\_*REPLACE_ME*: List of things that are concrete deliverables_
- [ ] ...

## Non-goals / Non-deliverab

[2022-10-03 20:54] deblasis opened #273 "[TECHDEBT] [P2P] Raintree scalability improvements"
## Objective

Tend for the TODOs:
[code]

Related to #222 and #246

## Origin Document

**"make it work ⏩ make it fast ⏩ make it pretty"**

#222 improves a lot in terms of time complexity, see what we can do to improve even further.

Some research might be required

## Goals

- [ ] Ensure that the network can scale
- [ ] Verify empirically

## Deliverable

- [ ] Optimizations
- [ ] Tests / Benchma

[2022-10-03 21:09] deblasis opened #274 "[TECHDEBT] [P2P] Documentation improvement"
## Objective

Tend to these TODOes:

[code]

Have a discussion with @Olshansk to define scope and update below

## Origin Document

[ Why? Issue justification and/or link to another document]

## Goals

- _\_*REPLACE_ME*: List of things that are high level ideas or goals driving the task_
- [ ] ...

## Deliverable

- _\_*REPLACE_ME*: List of things that are concrete deliverables_
- [ ] ...

## Non

[2022-10-03 21:14] deblasis opened #275 "[TECHDEBT] [P2P] Complete P2P Module"
## Objective

Tend to this TODO:

[code]

We need to identify the definition of "ready" within the current milestone and update below accordingly

## Origin Document

[ Why? Issue justification and/or link to another document]

## Goals

- _\_*REPLACE_ME*: List of things that are high level ideas or goals driving the task_
- [ ] ...

## Deliverable

- _\_*REPLACE_ME*: List of things that are concr

[2022-10-03 21:16] deblasis opened #276 "[TECHDEBT] [P2P] Raintree test suite improvements: Add configurations tests for dead and partially visible nodes"
## Objective

Tend to this TODO:

[code]

Clarify scope and update below

## Origin Document

[ Why? Issue justification and/or link to another document]

## Goals

- _\_*REPLACE_ME*: List of things that are high level ideas or goals driving the task_
- [ ] ...

## Deliverable

- _\_*REPLACE_ME*: List of things that are concrete deliverables_
- [ ] ...

## Non-goals / Non-deliverables

- _\_*REPLA

[2022-10-03 21:18] deblasis opened #277 "[TECHDEBT] [P2P] Raintree test suite improvements: Double check expected calls counting"
## Objective

Tend for this TODO left in the code:

[code]

## Origin Document

Looking at the configuration for a single RainTree test:

<img width="659" alt="Screen Shot 2022-10-15 at 4 49 52 PM" src="https://user-images.githubusercontent.com/1892194/196007035-168a6865-848a-4756-882b-526d23bfc87c.png">

Along with the visuals and the configs for a single test:

<img width="776" alt="Screen Shot

[2022-10-03 21:26] deblasis opened #279 "[TECHDEBT] [P2P] Raintree test suite improvements: edge cases"
## Objective

Tend for these TODOes:

[code]

Probably it can be tackled by looking at the code with the help of test coverage, needs confirmation so that we can update the below and eventually proceed

## Origin Document

[ Why? Issue justification and/or link to another document]

## Goals

- _\_*REPLACE_ME*: List of things that are high level ideas or goals driving the task_
- [ ] ...

## Deliv

[2022-10-03 21:59] deblasis opened #280 "[TECHDEBT] [P2P] Should we have entropy at Raintree level?"
## Objective

Understand if we should have entropy at Raintree level, update the below and act accordingly

## Origin Document

Linked discussion #278

## Goals

- _\_*REPLACE_ME*: List of things that are high level ideas or goals driving the task_
- [ ] ...

## Deliverable

- _\_*REPLACE_ME*: List of things that are concrete deliverables_
- [ ] ...

## Non-goals / Non-deliverables

- _\_*REPLACE_

[2022-10-03 22:33] Olshansk commented on #274
I can help out with this one.

[2022-10-03 22:33] Olshansk commented on #273
Moving this to `M4`

[2022-10-03 23:32] #228 closed

[2022-10-04 00:26] Olshansk commented on #266
Not a high priority, so I'm moving this to M QOL

[2022-10-04 00:27] Olshansk commented on #267
For context, I think the topic should be inside of the message. No reason for an extra param in the interface

[2022-10-04 00:28] Olshansk commented on #275
This was an outdated comment and I believe I removed it in one of the inflight PRs.

We had a different p2p module in the past.

We're going to go with this one, but I think more importantly is creating a ticket to:
1. Research https://libp2p.io/
2. Summarize & present learnings to the team (plus what we should & shouldn't use from the library)
3. If we decide to move forward with it, a ticket to

[2022-10-04 00:31] Olshansk commented on #269
Let's just go with the SUPER naive and super inefficient approach to get this done.

stdnetwork is used to be a backup until we're fully comfortable with raintree.

[2022-10-04 15:09] jessicadaugherty commented on #164
Split by
- Design
- Implementation/support

Remove
- Grafana (cover in #189)

[2022-10-04 23:43] Olshansk commented on #256
Note that one of the solutions described in https://github.com/pokt-network/pocket/pull/250#discussion_r982346486 worked by creating setters for fields that we should not export. Given that this is only used for testing, a better approach should be investigated.

[2022-10-04 23:52] Olshansk opened #283 "[Consensus] Re-evaluate utility context management"
## Objective

Figure out how the utility context within consensus should be managed, refreshed and updated to avoid panics and race conditions.

## Origin Document

[This thread](https://github.com/pokt-network/pocket/pull/250#discussion_r982505262) In #250:

<img width="735" alt="Screen Shot 2022-10-04 at 4 46 43 PM" src="https://user-images.githubusercontent.com/1892194/193950461-0a0f5b02-ebef-4

[2022-10-04 23:53] Olshansk commented on #283
@andrewnguyen22 I want to discuss this in a protocol hour before someone takes it on.

[2022-10-05 01:49] Olshansk opened #284 "[Persistence] First Implementation of the StateHash"
## Objective

Implement the first fully functional, tested state hash implementation

## Origin Document

Implement the interface and flow agreed on in #251. This replaces the original ticket (#147) whose scope was too large, whose implementation & discussion started in this PR #152 and whose further exploration was done in #237.

## Goals

- Translate #251 into an implementation
- Make the state

[2022-10-05 13:15] andrewnguyen22 opened #286 "[TECHDEBT] Change the `PersistenceRWContext` interface to pass `paramName` when getting a parameter"
## Objective

Deprecate
- [ ] `GetBlocksPerSession(height int64) (int, error)`
and
- [ ] `GetServiceNodesPerSessionAt(height int64) (int, error)`

for

- [ ] `GetParameter(paramName string, height int64) (interface, error)`

## Origin Document

We genericized the param setters like:

`SetParam(paramName string, value interface{}) error`

We need a similar pattern for getters

## Goals

- Lower cod

[2022-10-05 14:59] #246 closed

[2022-10-05 16:30] jessicadaugherty opened #288 "[Telemetry] Apply shared logging module"
# Objective
Use the foundations to unify and standardize the logging approach across the entire codebase created in https://github.com/pokt-network/pocket/issues/164 and apply to a subset of files to use this framework.

# Origin Document

See the github discussion for full details: https://github.com/pokt-network/pocket/discussions/214

The implementation of this was started by @derrandz here: ht

[2022-10-05 16:41] jessicadaugherty commented on #275
Thank you @deblasis! Let me know if this should turn into an issue (research spike) at any point so the work stays visible on the board.

[2022-10-05 16:49] Olshansk commented on #288
@jessicadaugherty I've udpated the milestone + labels

[2022-10-05 16:52] #249 closed

[2022-10-05 17:00] Olshansk commented on #286
Great `starter task`!

[2022-10-05 17:04] deblasis commented on #275
@jessicadaugherty:

Yeah I think it should be tracked on the board and also, I would sadistically ask for a deadline so that I can plan all my other activities (life included :)) accordingly.

"work expands so as to fill the time available for its completion."

https://en.wikipedia.org/wiki/Parkinson%27s_law

[2022-10-05 18:03] Olshansk commented on #203
This is related to #271 in the greater scope/vision of having dynamic validator sets as they change with each height.

#271 is scoped to only P2P and doing structured gossip amongst the validator nodes (for now). In general, P2P does care who the nodes are but simply gossips amongst the actors it is given.

This ticket is scoped to consensus (techdebt cleanup) to make sure the concept of a "valida

[2022-10-05 18:07] Olshansk commented on #275
@jessicadaugherty Can you link to the libp2p research ticket here once it's ready, and we'll document the results of that work in #287.

Once the ticket is created, we can close this one out.

[2022-10-05 18:17] Olshansk commented on #279
Closing this out as some of the TODOs/IMPROVEs in the code were unclear, non-actionable and outdated.

Improvements to the testing framework are being implemented in #179.

[2022-10-05 18:17] Olshansk commented on #279
@deblasis Let's close this out once the TODOs from the code are removed.

[2022-10-05 18:18] Olshansk commented on #277
This is being tackled in #179.

[2022-10-05 18:22] Olshansk commented on #276
This is blocked by #179, but once 179 is in, the goal is to update the testing suite to support the following test case:

<img width="800" alt="Screen Shot 2022-10-05 at 11 19 39 AM" src="https://user-images.githubusercontent.com/1892194/194133741-dec62423-1f4d-4e65-92c5-750197b7d067.png">

[2022-10-05 18:25] Olshansk commented on #274
Let's update the README by pointing to the original presentation [here](https://drive.google.com/file/d/1PaAWTx47nPSrM798lxfKv0GnhLthZLYm/view?usp=sharing), and at some point in the future, we can update the documentation if/when we have time.

[2022-10-05 18:32] Olshansk commented on #270
The action item for this ticket is:

1. Rename `ValidatorMapToNetworkPeer` to `ActorMapToNetworkPeer` or `ActorsToNetworkPeer`

2. Look into the changing the interface call from `ConsensusModule.ValidatorMap()` to `PersistenceModule.GetActorsAtHeight()` because all the staked protocol level actors can help in broadcasting messages.

@andrewnguyen22 Do you think we should only have validators parti

[2022-10-05 18:35] Olshansk commented on #268
- EmptyConnection is used for testing
- TCP is used for prod / development
- In the future, we may explore UDP or QUIC

An enum should be low effort to help facilitate this optionality.

[2022-10-05 20:18] #279 closed

[2022-10-05 21:05] nickatnight23 commented on #258
Can I take this on?

[2022-10-06 00:06] #175 closed

[2022-10-06 00:19] Olshansk commented on #258
@nickatnight23 Definitely! Feel free to reach out either here or in discord if you need any help or clarifications.

The (dev guide](https://github.com/pokt-network/pocket/blob/main/docs/development/README.md) is probably the best place to start, but if something is unclear or could be made better, please don't hesitate to point it out

[2022-10-06 00:19] Olshansk commented on #261
Idea posted in #290 as a starting point for a discussion.

[2022-10-06 14:26] #262 closed

[2022-10-06 17:28] Olshansk commented on #227
@andrewnguyen22 Is this done?

[2022-10-06 17:54] deblasis opened #292 "[Shared] Config and Genesis refactoring improvement: Consider renaming `NodeModules`"
## Objective

Keep track and address areas of improvement. Specifically, in this issue we aim at addressing the comments below (which are related)

Related PR #235

## Origin Document

- https://github.com/pokt-network/pocket/pull/235#discussion_r986177118
- https://github.com/pokt-network/pocket/pull/235#discussion_r986192819
- https://github.com/pokt-network/pocket/pull/235#discussion_r986253946

[2022-10-06 17:54] #227 closed

[2022-10-06 17:59] deblasis opened #293 "[Shared] Config and Genesis refactoring improvement: make sure we can `ValidateConfig` and `ValidateGenesis` with both real and mocked implementations"
## Objective

Keep track and address areas of improvement. Specifically, in this issue we aim at addressing the comments below (which are related)

Related PR #235

## Origin Document

- https://github.com/pokt-network/pocket/pull/235#discussion_r986214256
- // DISCUSS (team): we cannot cast if we want to use mocks and rely on interfaces ([source](https://github.com/pokt-network/pocket/pull/235/fi

[2022-10-06 18:59] deblasis opened #294 "[Shared] Config and Genesis refactoring improvement: ValidateConfig has to work with mocks and real implementation"
## Objective

Keep track and address areas of improvement. Specifically, in this issue we aim at addressing the comments below

Related PR https://github.com/pokt-network/pocket/pull/235

## Origin Document

- https://github.com/pokt-network/pocket/pull/235#discussion_r986252144

## Goals

- [ ] Improve code quality

## Deliverable

- [ ] Refactor the code so that there's no ambiguity

## Non-goal

[2022-10-06 21:49] jessicadaugherty opened #295 "[TECHDEBT][Shared] Address legacy Run golangci-lint errors"
## Objective

Improve unit tests by addressing legacy linting errors

## Origin Document

Raised by review of https://github.com/pokt-network/pocket/pull/235#issuecomment-1270639788

![Screen_Shot_2022-10-06_at_10 50 28_AM](https://user-images.githubusercontent.com/55156619/194425205-473f6575-4eeb-49de-a761-f23e5bbcecf6.png)

## Goals

- Block PRs that break unit tests
- Block PRs that break linti

[2022-10-07 17:12] Olshansk commented on #293
@deblasis Is this an intentional duplicate of #294 or can we close one out?

[2022-10-07 17:29] Olshansk commented on #84
This will not be a priority anytime in the near future so am closing it out.

[2022-10-07 17:29] #84 closed

[2022-10-07 17:33] Olshansk commented on #210
@andrewnguyen22 Could you take this one on if you have some spare cycles?

[2022-10-07 17:45] nickatnight23 commented on #258
Can I get some clarification on installing the dependencies? I am having trouble with this section- protoc-gen-go, protoc-go-inject-tag and mockgen by running make install_cli_deps. Not sure how to make the build first?

[2022-10-07 19:43] deblasis commented on #293
Copy-pasta mistake. This one had the wrong title. I have renamed it.

[2022-10-07 21:39] Olshansk commented on #258
Can you try running this command: https://github.com/pokt-network/pocket/blob/main/Makefile#L99

If it works, feel free to update the dev guide as well!

[2022-10-08 21:37] nickatnight23 commented on #258
I have a question about the code base where the protobuf enums are located. Would this be the best place to ask?

[2022-10-09 13:17] Olshansk commented on #258
For sure. Are you just having trouble finding them? This command might be a good starting point:

[code]

[2022-10-10 07:37] profishional commented on #133
Wiki: https://github.com/profishional/pocket.wiki.git

**Context**
Starting the conversation to double check the direction.
I copied the structure from the READMEs over with some formatting changes taken from RocksDB. All internal links of the READMEs have also been updated, Subject to a more careful review as we get closer to the final implementation.

**Deliverables**
* Github Wiki is added: I c

[2022-10-10 16:54] nickatnight23 commented on #258
Yes, I was having trouble finding them. Thank you.

[2022-10-10 18:34] nickatnight23 commented on #258
I am having trouble installing mockgen. It appears that everything else is installed.

[2022-10-10 19:16] andrewnguyen22 commented on #210
@Olshansk @jessicadaugherty during sync meeting we de-prioritized this in backlog for this sprint. I will pick up tickets accordingly in backlog if necessary

[2022-10-10 19:17] andrewnguyen22 commented on #206
closed with #178

[2022-10-10 19:17] #206 closed

[2022-10-10 19:19] andrewnguyen22 commented on #172
@Olshansk This is in progress, but I'm not sure what this is exactly. Can we downscope or clarify or close?

[2022-10-10 19:31] okdas commented on #164
I started working on this, will post a PR soon.

[2022-10-10 20:57] jessicadaugherty opened #297 "[SPIKE] Research LibP2P"
## Objective

Research LibP2P to determine if and/or how we should use this library in V1 P2P implementation

## Origin Document

[V1 P2P discovery](https://docs.google.com/document/d/10rHFr8HpUfpmHzXbyZWzq60aJDY1lYMR9kHNgdfgbNE/edit#heading=h.e1rj36wlfr45)

## Goals

- Summarize research learnings and recommendations on LibP2P next steps (if any)

## Deliverable

- Determine if we should use LibP

[2022-10-11 13:07] Olshansk commented on #172
Originally what happened was:
1. We merged in #166 without review
2. #171 were TODOs (rather than GitHub comments) to get (1) in faster
3. #172 was meant to tackle (2)

Since we're scoping down the iterative tasks though, the next steps are:
1. I change this to "Rescope"
2. Next week, I will review what's already done and "low hanging fruit" and create tickets for the larger items

[2022-10-11 15:13] jessicadaugherty opened #298 "[Infrastructure] Research & determine whether Helm charts should be an interim solution"
## Objective

Considering we have an ongoing k8s operator project for v1, determine if we should use Helm chart to power v1 deployments as an interim solution or migrate to Kubernetes Operators. Ideally this ticket should be done in parallel with https://github.com/pokt-network/pocket/issues/299

## Origin Document

@olshansky

## Goals

- [ ] Determine if we should use Helm charts now and Kuberne

[2022-10-11 15:15] jessicadaugherty opened #299 "[Infrastructure][LocalNet] Investigate & determine if kubernetes / minikube should be used in place of docker-compose"
## Objective

As we continue to build V1 localnet, we should evaluate our tooling to ensure our deployment and management pipelines are scalable and easily configurable. Currently we use docker-compose, but this should be evaluated against options like Kubernetes/Minikube to identify what works best for our stack.

## Origin Document

@olshansky?

## Goals

- [ ] Recommend a path forward for how w

[2022-10-11 15:27] #172 closed

[2022-10-11 22:12] jessicadaugherty opened #300 "[SPIKE][P2P] Peer Discovery and Dynamic Peer Addition/Removal - Research Gemini Algorithm"
## Objective

Research Gemini to determine if and/or how we apply the functionality of this algorithm in V1 P2P peer discovery and dynamic peer addition/removal as part of the Raintree algorithm implementation. Ideally done in parallel with LibP2P research.

## Origin Document

[V1 P2P discovery](https://docs.google.com/document/d/10rHFr8HpUfpmHzXbyZWzq60aJDY1lYMR9kHNgdfgbNE/edit#heading=h.e1rj36w

[2022-10-12 15:37] #232 closed

[2022-10-17 18:25] jessicadaugherty opened #307 "[Infrastructure][LocalNet] Deploy 4 node localnet in remote environment"
## Objective

Deploy a non-configurable 4 node localnet in a remote environment to:
- Uncover difficulties associated with finding unknown unknowns related to deploying localnet to a devnet
- Provide foundation to scope out work for more configurable devnet
- Provide foundation to scope minimum RPC requirements to interact with devnet such as missing endpoints
- Enable completion of P2P dynamic ch

[2022-10-17 22:52] Olshansk commented on #258
What is the issue?

[2022-10-18 03:23] Olshansk commented on #133
I don't have access to this. Should I?

👍

I just enabled it. Let me know if you can see & edit.

Makes sense to me, but would like to review it first :)

Here I may be misaligned. Are you suggesting that we won't have individual READMEs at all anymore?

[2022-10-18 03:24] Olshansk commented on #298
Discussed this in the team meeting. I believe we aligned that the goal is to replace LocalNet deployment with k8s operators in the 2-week iteration starting this Wednesday.

Does that sound reasonable @okdas?

[2022-10-18 03:26] Olshansk commented on #299
Per my comment in https://github.com/pokt-network/pocket/issues/298#issuecomment-1281763062, @okdas would this be mutually exclusive from k8s operators or is there a world where we use both minikube AND k8s operators?

I'm not familiar with the overlap of those two technologies, which is why I ask.

[2022-10-18 03:32] Olshansk commented on #212
@andrewnguyen22 Did we agree that there should only ever be one write context at any point in time? If so, I think we can close this out.

[2022-10-18 04:16] profishional commented on #133
My bad, not sure what I was copy pasting before.
I have edited the initial comment. Here are the links reposted:

Main repo: https://github.com/profishional/pocket
Wiki: https://github.com/profishional/pocket/wiki
Wiki git: https://github.com/profishional/pocket.wiki.git

[2022-10-18 17:14] Olshansk opened #308 "[Bug] Broken Tests on main after #235"
## Objective

Fix broken bugs on main introduced by #235.

## Origin Document

#235 was a large PR that reintroduced a bug fixed by #282.

Specifically, in `runtime/test_artifacts/uti.go`, the addition of `os.Exit(0)`

[code]

Ignores the `exitCode` in `persistence/test/setup_test.go`

[code]

Resulting in various errors committed to main:

![Screen Shot 2022-10-18 at 10 12 52 AM](https://user-ima

[2022-10-18 21:30] Olshansk commented on #295
@jessicadaugherty Can we include this in iteration 4? It's a lower priority, but it blocks us from enabling the autolinters

[2022-10-18 22:07] Olshansk commented on #133
This is still a dead link for me

So are Wiki's just free for all to modify?

This is 🔥

![Screen Shot 2022-10-18 at 3 05 57 PM](https://user-images.githubusercontent.com/1892194/196554000-86986669-2697-447a-b973-066c51834334.png)

**Question**:

We recently add, for example, this markdown file:

https://github.com/pokt-network/pocket/blob/main/shared/docs/flows/AppHash.md

What's the process of i

[2022-10-19 00:58] profishional commented on #133
This is the cloning link for the procedure described in the first comment.

You can limit it to contributors only in the settings. But surprisingly the rocksDB is open for anyone to edit, maybe by mistake   because I don't think it creates a PR or a notification (jus a version history) if it's edited. So best to restrict it.
reference: https://docs.github.com/en/communities/documenting-your-projec

[2022-10-19 04:29] Olshansk opened #310 "[CLI] Format the output of the CLI results"
## Objective

Decide how we should parse and present the output of CLI commands.

## Origin Document

We had some TODO items in #177 since it is still too early too decide & scope out this work

[code]

## Goals

- Decide & implement how CLI outputs should be presented to the user

## Deliverable

- [ ] A decision on how CLI command outputs should be parsed & presented
- [ ] A PR updating the code

[2022-10-19 07:48] profishional commented on #133
I noticed some errors in the naming and content menu since I did a lot of copy pasting! Fixed now but will review properly as we get closer to final state.

[2022-10-19 17:45] jessicadaugherty commented on #193
Refactor against https://github.com/pokt-network/pocket/pull/235

[2022-10-19 22:00] #210 closed

[2022-10-19 22:36] Olshansk opened #313 "[Utility] Design & implement a better approach to `GenericParam` / `ActorSpecificParam`"
## Objective

Design, consolidate & refactor how parameters unique to different actors are managed throughout the codebase.

## Origin Document

At the time of writing this issue, `persistence/test/setup_test.go` has the following code snippet:

<img width="770" alt="Screen Shot 2022-10-19 at 3 23 07 PM" src="https://user-images.githubusercontent.com/1892194/196815934-cb0449a3-8c4e-47e1-96c9-ecf09

[2022-10-19 23:04] Olshansk commented on #307
@okdas I updated the testing methodology for this. PTAL

[2022-10-20 02:32] Olshansk opened #314 "[P2P] RainTree Unit Test Generation Tooling"
## Objective

Provide a tool (e.g. make target) that triggers underlying scripts (e.g. python code or a jupyter notebook) to generate ascii art and unit tests for RainTree.

## Origin Document

In order to make the RainTree clearer to understand (e.g. #304), easier to maintain (e.g. this ticket) and extend it to other features (e.g. #276), we need to make sure the tools used to generate the ASCII

[2022-10-20 03:24] Olshansk opened #315 "[Persistence] TxIndexer to StateHash Bridge"
## Objective

The objective of this issue is to "bridge" the work being done in #302 (tx indexer integration) and #285 (first state hash implementation.

## Origin Document

The interface and diagrams for the state hash computation were being done in #252 while the first implementation began in #285.  However, since both of these are dependent on the integration of the tx indexer in #302, some con

[2022-10-20 03:41] Olshansk commented on #133
There was one thing I wanted to double check.

I do want to keep the fact that our READMEs are version controlled (and require reviews and such). Will this not be possible once we use a wiki?

[2022-10-20 19:25] Olshansk commented on #211
A good starting point is to use regex find inside the persistence module for `func (.*) [A-Z]` and comparing it to the interface in `modules/persistence_module.go` to determine what MUST be exposed.

[2022-10-20 20:57] andrewnguyen22 commented on #314
I'd even go further to ask the ticket include dynamic **fuzz** test generation using a `golang` version of the generator. WYT? @Olshansk

[2022-10-21 01:40] #277 closed

[2022-10-21 04:07] profishional commented on #133
Yeah Wikis are pretty basic (maybe enhanced in the future), any edit is a commit to the main. You can see version history, compare and revert but thats all after the fact, unlike a PR process.

There are hacks to manage it e.g.:
https://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html
TLDR:
- lock the main repos wiki A
- create a separate repository B, where readmes li

[2022-10-21 05:08] Olshansk commented on #314
I'd prefer to create a follow-up ticket for that to prevent the scope of this issue from getting too large.

I'm closing to getting https://github.com/pokt-network/pocket/pull/316/files up for review soon (not ready yet), and it is already quite big. The immediate goal right now (and of this ticket) is to simply remove the "black box" of how the unit tests are generated, and we can later increase

[2022-10-21 18:50] Olshansk commented on #133
Noted.

Yes, even our own team is losing track of the READMEs we have, so the screenshot I posted above would be super helpful.

I think it's more than cool. Provides immediate value & visibility into all the `.md` files we have

Definitely out of scope, but will sync with @okdas to see if we can do this.

[2022-10-21 19:03] #168 closed

[2022-10-22 13:26] #264 closed

[2022-10-24 13:25] #308 closed

[2022-10-24 14:30] deblasis commented on #293
We are using interfaces now, this can be closed

[2022-10-24 14:30] #293 closed

[2022-10-24 14:31] deblasis commented on #294
We are using interfaces now, this can be closed

[2022-10-24 14:31] #294 closed

[2022-10-24 16:53] Olshansk commented on #275
Agreed. Closing per the comment above.

[2022-10-24 16:53] #275 closed

[2022-10-24 16:58] Olshansk commented on #275
Note that this also involves some work related to the testing framework, redundancy layer, etc, but all of that work is captured in more well scoped tickets.

[2022-10-24 17:08] Olshansk commented on #199
Update. I sent out an initial PR with some questions related to their implementation & edits here: https://github.com/celestiaorg/smt/pull/74

I have a call with someone from their team this week as well

[2022-10-24 17:50] #274 closed

[2022-10-24 18:35] Olshansk commented on #208
@Jasonyou1995 I assigned this task to you since you've been digging into the persistence module. No need to tackle it right away (we can figure that part out) but the main goal here is to move our proprietary testing setup & teardown to the standard libraries use in Go.

This is a good article as a starting point to learn more: https://medium.com/nerd-for-tech/setup-and-teardown-unit-test-in-go-bd

[2022-10-24 18:35] Olshansk commented on #212
@andrewnguyen22 Bump on question above

[2022-10-24 18:37] Olshansk commented on #261
I scrapped the first iteration of the idea (using a passthrough) and submitted a second one (using mocks only). Looking for preliminary feedback to see if it meets the requirements of the ticket before I put more effort into it

[2022-10-24 21:28] Olshansk commented on #133
Going to get some input from the team on this as well (cc @andrewnguyen22 and @deblasis).

**The tl;dr** is that there's an example [wiki here](https://github.com/profishional/pocket/wiki) which makes it really easy to navigate and view our documentation. **The major con** is that the READMEs we have would no longer be review/version controlled or live next to the code. I think this is a big minus

[2022-10-26 04:23] profishional commented on #133
Nice, I'll have it in mind.

I'll have a look to compare. What did you think about the other links I posted?
Happy to help with this part of the documentation too, pretty comfortable with Python but have to touch up on CI process.

[2022-10-27 13:49] Jasonyou1995 commented on #286
I might need some help to get started (some super basic questions):

- Task questions
    - Do I need to implement the `GetParameter` function?
    - Should I comment out the two deprecated functions `GetBlocksPerSession` and `GetServiceNodesPerSessionAt` then combine them to `GetParameter`?
    - I saw the `./utility/context.go` and `./persistence/module.go` scripts are using this interface, shou

[2022-10-27 15:35] Jasonyou1995 opened #322 "[CLI] Issues with client command: connection refused after running `ResetToGenesis`"
## Objective

CLI encounters connection issue after running `ResetToGenesis`

## Origin Document

Error writing to the peer during send:  dial tcp4 172.18.0.7:8080: connect: connection refused

https://user-images.githubusercontent.com/15693947/199839525-0a0424ba-ff93-4538-87d9-626770435d39.mov

## Goals

* Finding out the cause of the issue
* Then try to address it

## Deliverable

- [ ] Finding

[2022-10-27 18:03] Olshansk commented on #133
I'm not really sure what you're asking for exactly, but I'll reference these three:

The second link is exactly what we need with the exception of having that wiki be auto-generated by `.md` files that exist in the codebase. Is that something you could take on?

[2022-10-27 18:14] Olshansk commented on #211
@Jasonyou1995 Please see the comment I left here: https://github.com/pokt-network/pocket/pull/320#issuecomment-1293890091

Let me know if you need any further clarification or help on finding functions that should be lowercased (i.e. not exposed publically).

[2022-10-27 18:31] Olshansk commented on #322
A few nites on updating this issue description

![Screen Shot 2022-10-27 at 11 28 41 AM](https://user-images.githubusercontent.com/1892194/198370463-a8473878-4346-493a-a2f6-45beba101b6b.png)

[2022-10-27 18:34] Olshansk commented on #286
Yes.

Yes.

Yes.

For this change, since it's small. The changelog is enough.

[2022-10-27 20:56] Jasonyou1995 commented on #211
I created a BASH script `check_lowercase_function.sh`
[code]

This script will print out all the Public (uppercase) functions that were never used outside the `persistence` module/repo.

[2022-10-27 20:57] Jasonyou1995 commented on #211
Here are the outputs for functions with zero usage outside ./pocket/persistence/:

[code]

[2022-10-28 00:15] #314 closed

[2022-10-28 17:01] Olshansk commented on #211
@Jasonyou1995 Pro tip

If you add bash after the 3 backticks, it'll add syntax highlighting in place:

![Screen Shot 2022-10-28 at 9 52 53 AM](https://user-images.githubusercontent.com/1892194/198691656-f22c0fd3-3628-4a03-8b25-c28ed2035a48.png)

We don't have a place for scripts like this at the moment, so let's keep it here and figure out if we could/should productionize if we see the need for it

[2022-10-28 17:11] Jasonyou1995 commented on #211
Sounds great! Thanks for the tips. I will modify the script a little bit to correct the package matching issue (I didn't know that Go treat sub folders as different packages).

[2022-10-28 17:19] Olshansk commented on #211
Highly recommend taking this Go course in our learning guide: https://github.com/pokt-network/pocket/blob/main/docs/learning/README.md#golang

[2022-10-28 17:33] Olshansk commented on #150
@Jasonyou1995 When you have time to tackle things, one thing I would suggest is doing a bit of research & learning about what a keybase is and how it works. For example, see the summary of the research @deblasis did on the state of RPC in the crypto industry here: https://github.com/pokt-network/pocket/discussions/213

As someone who has never built one myself, here is how I would go about it:
1.

[2022-10-28 17:34] Jasonyou1995 commented on #211
I will spend sometime to get these basics done ASAP!

[2022-10-31 16:26] jessicadaugherty opened #324 "[Consensus] Leader Election - Validators Voting Power Proportional to stake_tokens/total_stake_tokens"
## Objective

Integrate leader election libraries with E2E flow of the node

## Origin Document

## Goals

- [ ]

## Deliverable

- [ ]

## Non-goals / Non-deliverables

-

## General issue deliverables

- [ ] Update the appropriate CHANGELOG
- [ ] Update any relevant READMEs (local and/or global)
- [ ] Update any relevant global documentation & references
- [ ] If applicable, update the source co

[2022-10-31 16:47] jessicadaugherty commented on #298
Can this be closed @Olshansk?

[2022-10-31 17:07] jessicadaugherty opened #325 "[Core] Tx Fee Business Logic - Improve State Visibility"
## Objective

Validate and expose fees throughout the blockchain state when a transaction (successful or not) is sent.

## Origin Document

The flow shown in the diagram below, is an example where funds where sent from one account to another and fees were  transmitted to the associated pool from the sender's account balance

![Image](https://user-images.githubusercontent.com/55156619/213946403-c46

[2022-10-31 17:15] jessicadaugherty opened #326 "[Utility] Account Logic - Send and Receive Funds - Add Tx Fees to Mempool"
## Objective

Add tx fees from all send txs to mempool. Blocked by https://github.com/pokt-network/pocket/issues/325

## Origin Document

The foundations for sending transactions were built out [here](https://github.com/pokt-network/pocket/blob/main/utility/transaction.go) but they do not include adding tx fees to the mempool.

## Goals

- [ ] Add more production ready functionality for sending E2

[2022-10-31 17:41] jessicadaugherty opened #327 "[Utility] Implement Rollback Logic on Errors"
## Objective

Add ability to revert transaction state to last save point.

## Origin Document

The foundations for sending transactions were built out [here](https://github.com/pokt-network/pocket/blob/main/utility/transaction.go) but they do not include rollbacks or save points upon errors.

## Goals

- [ ] Add more production ready functionality for sending E2E txs in localnet and devnet

## Del

[2022-10-31 17:44] jessicadaugherty opened #328 "[Core] Utility - Transactions - Define Localnet Flows to Handle Errors"
## Objective

Define how local net will handle errors to verify integrity of the state.

## Origin Document

The foundations for sending transactions were built out [here](https://github.com/pokt-network/pocket/blob/main/utility/transaction.go) but they do not define how rollbacks or save points are handled upon errors.

## Goals

- [ ] Add more production ready functionality for sending E2E txs i

[2022-10-31 17:47] jessicadaugherty opened #329 "[Core] Define Edge Cases for Save Points and Rollbacks"
## Objective

Create extensive testing for rollbacks on errors. This should cover unit tests and localnet flows as defined in https://github.com/pokt-network/pocket/issues/328

## Origin Document

The foundations for sending transactions were built out [here](https://github.com/pokt-network/pocket/blob/main/utility/transaction.go) but they do not define how rollbacks or save points are handled upo

[2022-10-31 18:43] Jasonyou1995 commented on #150
I'm working on this issue now! Thank you so much for the detailed guide. It's very helpful for me to get started.

[2022-10-31 19:28] #299 closed

[2022-10-31 19:29] jessicadaugherty commented on #298
@okdas did a lot of research and determined not to use Helm charts

[2022-10-31 19:29] #298 closed

[2022-10-31 21:30] Olshansk commented on #325
@jessicadaugherty Updated the description.

[2022-10-31 21:31] Olshansk commented on #326
@jessicadaugherty Given the updated description of #325, I believe we can close this out as a duplicate. Wdyt?

[2022-10-31 21:33] Jasonyou1995 commented on #211
Here is the updated script and list of functions only used in the Persistence module.

## Script

[code]

## Output (List of functions can be private)

[code]

[2022-10-31 21:39] Olshansk commented on #327
@jessicadaugherty Updated the description. Please review

[2022-10-31 21:42] jessicadaugherty commented on #326
@Olshansk aligned

[2022-10-31 21:42] #326 closed

[2022-11-01 03:02] profishional commented on #133
I was curious if you saw anything wrong with the links I sent, because the python approach seems to complicate it abit - had a read but would have to look at why the script aspect is even needed. Is there something you like about the python approach? Do you want the `.md` files to be where they are now but still get a wiki out of it?

[2022-11-01 16:10] andrewnguyen22 opened #331 "[SPIKE][Consensus] Remove `validatorMap` from the `consensusModule` struct"
## Objective

Remove `validatorMap` from the `consensusModule` struct state & access it from the persistence layer (added n the past)

The `validatorMap` is just a placeholder for the global `ValidatorSet` which is stored at the persistence layer.

*NOTE: this is a multi-module issue*

## Origin Document

Originally scoped in issue #315 - separate issue to downscope

## Goals
- [ ] Remove `validat

[2022-11-01 20:49] jessicadaugherty commented on #325
Is there a reason these things can't be covered in a separate ticket?

I think this is adding confusion and a distraction from the goal of sending a "happy" tx before designing the "unhappy" tx path.

[2022-11-02 18:00] jessicadaugherty commented on #265
Is there a PR for this?

[2022-11-02 18:44] Olshansk commented on #265
Yup, right here: https://github.com/pokt-network/pocket/pull/306

[2022-11-02 18:52] jessicadaugherty commented on #265
Thanks @Olshansk for linking and pointing out the timeline above!

[2022-11-03 00:39] okdas opened #333 "[Shared][CodeHealth] Allow to create only Initializable modules"
## Objective

Currently, all modules implement `Module` interface, which includes `IntegratableModule` and `InterruptableModule` interfaces which are not needed for all modules, only for some. We should look if we can adjust Create() to return `InitializableModule` instead of `Module`.

[code]

## Origin Document

We first found this while [implementing logger module](https://github.com/pokt-netwo

[2022-11-03 02:30] Olshansk commented on #325
Make sense. Let's add those deliverables to a separate ticket.

[2022-11-03 02:32] Olshansk commented on #333
@okdas Thanks for creating the ticket. Suggesting a few nits below:

<img width="1179" alt="Screen Shot 2022-11-02 at 7 30 49 PM" src="https://user-images.githubusercontent.com/1892194/199637377-0ec2eb24-83e1-415e-8f41-d73b2baf9f95.png">

[2022-11-03 02:38] Jasonyou1995 commented on #211
The `test_all` failed, so I might need to spend some time double check the cause before merge.

[code]

[2022-11-03 12:12] deblasis opened #334 "[TECHDEBT] implement ValidateConfig and ValidateGenesis in all modules"
## Objective

This issue tends to track the implementation of the validations that are currently marked as **TODOs** without a reference to any actual task.

Specifically, all modules that implement `ConfigurableModule` and/or `GenesisDependentModule` have a `ValidateConfig(Config) error` and/or a `ValidateGenesis(GenesisState) error` method.

An example of a valid implementation that could apply

[2022-11-03 12:16] deblasis commented on #334
Hi @jessicadaugherty !
FYI I just created this ticket to track some TODOes in the code. Please take a look and let me know if I did something wrong 🙏

[2022-11-03 16:53] Olshansk commented on #334
@deblasis Could you add a few more details (e.g. links to an example place in the code and potentially a code snippet)?

I think this is a greater starter task, or some external, so we just need it to be more self explanatory before adding the `community` tag.

[2022-11-03 17:13] Olshansk commented on #150
@Jasonyou1995 I've removed `entrypoint` from this PR.

Check out the demo @deblasis documented in https://github.com/pokt-network/pocket/pull/169

---

In v0, here are the entrypoints for `create` and `delete`

<img width="1608" alt="Screen Shot 2022-11-03 at 10 09 40 AM" src="https://user-images.githubusercontent.com/1892194/199788704-a638164e-8afd-4fa2-a112-3052ca0df9a3.png">

---

In V1, @debla

[2022-11-03 17:41] Jasonyou1995 commented on #150
Thanks for the clarification @Olshansk! Here are some questions I have:
1. I assume I'm implementing the miniature Keybase in the utility package to update the #150 marked functions with Keybase functions (create and delete).
2. My local Client is V0, and I couldn't see how the V1 entry point change will change how I implement Keybase. Could you please explain a little? Thanks!

[2022-11-03 17:53] Olshansk commented on #150
1. It'll be part of the + some local (host) state you need to maintain. The utility module will simply get the private key.
2. It will not, just a different codebase but similar idea.

[2022-11-03 20:27] #265 closed

[2022-11-04 01:07] Olshansk commented on #133
1. Yea, that's the first reason.

2. The second reason is that I was hoping for us to continue enforce a code review process to update READMEs.

Is the second piece possible without the automation approach?

[2022-11-04 12:30] #315 closed

[2022-11-04 17:12] andrewnguyen22 opened #335 "[DOCUMENT] Add README.md to the Consensus Module"
## Objective

Document Consensus module background, origin document, usage, how to build, how to use, code organization, and any other internals with `README.md`

## Origin Document

This is a standard for all `pocket` modules in the repository that Consensus is not excepted from.

**Hint**: Checkout the `README.md` in other modules for examples.

## Goals

- Better document the consensus module

[2022-11-04 17:21] andrewnguyen22 opened #336 "[CODE HEALTH] Remove unused / deprecated interface functions in the `Consensus Module`"
## Objective

Cleanup deprecated / unused functions in the `Consensus Module` and sub packages (ex. `Leader_Election` & `VRF`)

Examples of unused / deprecated functions:

[code]

## Origin Document

As we move fast and break interfaces, skeleton code gets left behind. The core team needs to maintain a quality standard of all modules with Code Health for a lower cognitive load for external contrib

[2022-11-05 02:53] Olshansk commented on #335
This one is on me, so I'll take it on that others can edit/build on.

[2022-11-06 21:42] deblasis commented on #334
Makes sense, I have updated the description, PTAL @Olshansk

[2022-11-07 01:17] profishional commented on #133
I would say:
Github Workflow solution (and the like) are: probably no to 1 and yes to 2
Python script: probably yes to 1 and yes to 2.

So I'm just wondering if it's worth scripting just to satisfy 1.

But I think I'll just go ahead and implement both on my fork for comparison, it'll make it easier to decide then. This would take me approx. 2 weeks probably based on current priorities.

[2022-11-07 18:32] Olshansk commented on #334
Thank you @deblasis! I made a few edits & clarifications myself and put it out to the community!

[2022-11-07 20:32] Jasonyou1995 commented on #150
Notes

* Discuss with _Alessandro_ integration and general requirements.
* Security requirements: documenting security tasks for future issues.
* Current stage: V0 entry point integration is expected. (potentially V1 integration)

[2022-11-07 20:51] jessicadaugherty commented on #85
Make redundancy and clean-up configurable for existing tests, and add new tests with manually hard-coded static values. Out of scope: update Python simulator to accept these input configurations.

[2022-11-08 00:35] Olshansk commented on #85
Just wanted to add additional detail here. There is a fair amount of short/mid/long work here:

1. **Short-term:** @andrewnguyen22 will tackle the first piece here: https://github.com/pokt-network/pocket/pull/137#issuecomment-1306181043. Implementing the redundancy & cleanup layers in Go and adding "simple" (i.e. small network) tests.

2. **Mid-term:** @Olshansk will add cleanup & redundancy to th

[2022-11-08 01:02] Olshansk commented on #150
Per my comment above, I also believe the demo @deblasis put together is a great starting point too: https://github.com/pokt-network/pocket/issues/150#issuecomment-1302425891

This is VERY optional if you find / learn something interesting along the way.

For example, see the discussion related to `ASCII armored JSON files` here: https://docs.pokt.network/node/setup/

We only expect an integration

[2022-11-08 17:33] Olshansk commented on #133
@profishional Consider it a low priority and I don't want (2) to be too big of a time investment. It's like a "very nice to have" that I think we'll end up having sooner or later.

[2022-11-09 02:27] jessicadaugherty commented on #288
Note to self/team: revisit #301 after completing #288

[2022-11-09 03:17] Olshansk opened #340 "[Persistence] Export Trees Tool"
## Objective

Build a tool that exports the data in the Merkle Trees into a JSON file.

## Origin Document

While working on #284, @Olshansk started building a tool that dumps all the data in the KV into a json file for easier debugging. Since the scope of that implementation grew very large, it is being moved to a separate task. The git diff of this code can be used as a starting point for furthe

[2022-11-09 20:25] Olshansk commented on #199
**tl;dr We will be using this Celestia's Merkle Tree for the time being, whichis being implemented in #285.**
---

### Future Work

Based on the research in [1] and [2], this fits our use case so far. Follow-up work (to be tracked in future tickets) to explain and verify this will include:
1. **Present**: Summarizing [1] and [2] and presenting it to the team (and community?) to provide a clear pic

[2022-11-09 20:25] #199 closed

[2022-11-09 22:42] Olshansk commented on #117
@jeremybeal11 Wanted to confirm if you're open to taking this task on?

[2022-11-09 22:58] Olshansk commented on #212
Going to close this out given the current state of persistence, but lmk if it should be something we re-explore.

[2022-11-09 22:59] Olshansk commented on #255
Too out of scope for now.

[2022-11-09 22:59] #255 closed

[2022-11-09 23:01] Olshansk commented on #276
@andrewnguyen22 Is this something you're working on as part of RainTree cleanup & redundancy?

[2022-11-10 02:54] Olshansk commented on #133
@profishional I was looking at https://github.com/onflow/flow-go/find/master, and realized that if I search for `README.md`, there are lots of great docs that come up but they are hard to discover. Example:

<img width="1017" alt="Screen Shot 2022-11-09 at 6 53 12 PM" src="https://user-images.githubusercontent.com/1892194/200989268-60e8c558-0e29-4315-a1ea-9b6539d495b4.png">

This is the situation

[2022-11-10 04:32] Olshansk opened #343 "[TECHDEBT][Utility] Fix tests that loop over protocol level actors"
## Objective

Update existing tests in the utility module that do not follow the correct pattern as other tests when verifying the same logic for different protocol-level actors.

## Origin Document

This change was made as part of #285 due to some tests that were broken but was spun out into a separate issue/PR to reduce the size of #285.

## Goals

- Fix existing misconfigured tests in the utili

[2022-11-10 17:10] jeremybeal11 commented on #117
@Olshansk I am. I am working on the RainTree video now. I have some open questions in the [Pocket Discussion](https://github.com/pokt-network/pocket/discussions/339#discussion-4550401) that I'm trying to clarify.

[2022-11-10 19:41] #343 closed

[2022-11-11 00:23] Olshansk opened #344 "[Client] Add a `Send` or `Broadcast` msg type to the debug CLI"
## Objective

Update the debug CLI to make it clear which debug commands are broadcasts and which are sends.

## Origin Document

There was a "fly by" change made in #285 where we updated the strings in `app/client/cli/debug.go` to the available debug commands by adding `broadcast` and `send` to the end like so:

[code]

https://github.com/pokt-network/pocket/pull/285#discussion_r1018447304

<img

[2022-11-11 15:58] #112 closed

[2022-11-11 16:04] deblasis commented on #193
@Olshansk I believe this can be closed as part of #112 (since I have added the docs generator), do you agree or do you feel like there's more work to do here?

[2022-11-11 18:06] Olshansk commented on #193
💯% agreed!

[2022-11-11 18:06] #193 closed

[2022-11-12 04:28] Olshansk opened #346 "[Utility] Handle Errors During Transaction Processing"
## Objective

Make sure that transaction processing errors are handled correctly when an issue is seen during the `ApplyBlock` process in `utility/block.go`.

## Origin Document

This task was meant to be tackled in #315, but while [reviewing](https://github.com/pokt-network/pocket/pull/285/files?show-viewed-files=true&file-filters%5B%5D=#r1018479862) #285, the team realized it was left out:

<img

[2022-11-13 19:38] jessicadaugherty opened #347 "[P2P] Integrate LibP2P"
# Objective
Use the results of https://github.com/pokt-network/pocket-network-protocol/issues/17 to integrate LibP2P into the p2p module.

# Origin Document(s)
* https://github.com/pokt-network/pocket-network-protocol/issues/17
* [LibP2P Guide](https://docs.libp2p.io/guides/)

# Goals

- Integrate LibP2P into Pocket Core

# Deliverables
- [x] MVP integration where LibP2P transport layer is used to

[2022-11-13 20:41] jessicadaugherty opened #348 "[P2P] Peer Discovery - LibP2P - Consolidate Node/Peer ID with LibP2P Peer ID"
# Objective

Once LibP2P is integrated with Pocket Core, we need to configure the existing node/peer IDs with LibP2P peer IDs to ensure we are using the correct formats and hashes to produce valid peer IDs.

Question: does this include multiaddrs? Peer info? Peer store?

# Origin Document
https://github.com/pokt-network/pocket-network-protocol/issues/17

[LibP2P PeerID Spec](https://github.com/lib

[2022-11-13 20:45] jessicadaugherty opened #349 "[Roadmap] Create flows for M1 & M2 demos"
# Objective

Build visualizations that can be used to define the E2E demos for each iteration goal.

# Origin Document

The first version of the flows was created [here](https://www.figma.com/file/qCsQmFmVw28ZHbuLXyvfg7/Iteration-2-%2B-3%3B-end-to-end?node-id=0%3A1) using figjam.

<img width="808" alt="Screen Shot 2022-11-13 at 3 36 06 PM" src="https://user-images.githubusercontent.com/1892194/201

[2022-11-13 23:44] Olshansk commented on #349
Copy-pasting flows from an offline discussion below to use as a starting point.

---

### Flow: 4 Validator LocalNet demo (good tx)

1. Turn on LocalNet (k8s operator?)
    1. Check: A & B have funds
2. Use CLI to send tx from A -> B (enough funds)
3. Trigger a new round and wait for it to finish
    1. **Check**: funds moved from A to B
    2. **Check**:
        1. Tx pool funds
        2. Valida

[2022-11-14 00:18] Olshansk opened #350 "[Roadmap] Define Flow, Instructions & Tools to present E2E demos"
## Objective

Enable anyone (technical or not) to execute each iteration's E2E demos.

## Origin Document

Not blocked by, but heavily related to #349.

## Goals

- Provide instructions on how to perform E2E demos

## Deliverable

- [ ] Document the steps (w/ copy-pastable commands) on how to execute the demos
- [ ] If needed, very small tools, makefile commands or scripts to ease testing

## Non-

[2022-11-14 01:14] Olshansk opened #351 "[Consensus] State Sync - Configuration & Entrypoints for Node State"
# Objective

Maintain the state (e.g. synching, synched, etc...) of the node for state sync & execution purposes. the consensus module will have a variable that maintains state. This will require a constant that indicates its state (synced, syncing, pacemaker). The consensus module should still control state sync but there should be no validation as part of this implementation.

# Origin Document

[2022-11-14 01:26] Olshansk opened #352 "[Consensus] State Sync - Implement & expose interface to advertise and provide height + blocks"
# Objective

Implement the interface that exposes the maximum & minimum blocks a node can expose and share

# Origin Document

State sync block by block design: #125

# Goals

- A foundation for advertising/exposing data a single node has to offer to others during state sync
- Allow another node to request a block from the advertising node

# Deliverables

- [ ] Implementation of the interface (fu

[2022-11-14 21:35] #211 closed

[2022-11-14 23:44] andrewnguyen22 opened #357 "[P2P] Churn Management and State Sync"
## Objective

Creating an issue to document the need for the `Churn Management` process in P2P to gather `PeerMetadata` information that allows the State Sync protocol to operate.

**DISCLAIMER:** *The interface below may quickly get outdated, see `consensus/doc/PROTOCOL_STATE_SYNC.md` for the latest*

Specifically:

[code]
## Origin Document

[State_Sync_Protocol_Interfaces_And_Documentation](htt

[2022-11-15 22:20] Olshansk commented on #347
Per our team discussion, I believe the scope of this can be summarized to, at a very high level, to bullet point 3 from [the research SPIKE](https://github.com/pokt-network/pocket-network-protocol/issues/17#issuecomment-1315936241):

<img width="957" alt="Screen Shot 2022-11-15 at 2 19 31 PM" src="https://user-images.githubusercontent.com/1892194/202037095-281429e8-9a46-4d98-b9f9-72d667cd334b.png"

[2022-11-16 04:53] Olshansk commented on #350
First approach attempt at something for iteration 3 can be found here:
* Branch: https://github.com/pokt-network/pocket/tree/iteration3_demo
* Demo: https://drive.google.com/file/d/1IOrzq-XJP04BJjyqPPpPu873aSfwrnur/view?usp=share_link
* Instructions:https://github.com/pokt-network/pocket/blob/iteration3_demo/iter_3_demo_instructions.md

[2022-11-16 18:17] #267 closed

[2022-11-18 18:41] okdas commented on #307
So far the network is working (validators are climbing), and the client can send commands into the network. Added the observability stack, now going to bring the make targets and dashboards on par with existing local net.

[2022-11-21 22:23] #164 closed

[2022-11-22 17:56] jessicadaugherty opened #358 "[Document] Claim/Proof Lifecycle and Merkle Tree Generation"
## Objective

Disseminate knowledge about the proof/claim lifecycle across the protocol team

## Origin Document

[Knowledge Transfer Requests](https://www.notion.so/pocketnetwork/Protocol-Team-83ea53817a944b99a6b5ec2d366a3b57)

## Goals

- Please document how the Claim/Proof Lifecycle and Merkle sum index tree algorithm generation works in V0 today.

## Deliverable

- [ ]  2 pager on claim / proo

[2022-11-22 20:42] jessicadaugherty opened #360 "[Document] Health Module"
## Objective

Better understand the current state of the [health module](https://github.com/pokt-network/pocket-core/blob/health-module/baseapp/baseapp.go) branch for consideration in scoping/building additional monitoring.

## Origin Document

[Knowledge Transfer Requests](https://www.notion.so/pocketnetwork/Protocol-Team-83ea53817a944b99a6b5ec2d366a3b57)

## Goals

- Lightly document the current

[2022-11-22 21:56] Olshansk commented on #133
@profishional Wanted to check in to see if you have any updates on this?

[2022-11-23 03:33] profishional commented on #133
No, sorry. On it this week!

[2022-11-24 00:38] jeremybeal11 commented on #117
Finished the first iteration of Raintree using Figma. The presentation can be found [here](https://www.figma.com/proto/vJYonGabbv91H0ZIHGeT02/%F0%9F%8C%B2-RainTree-Visualization?page-id=0%3A1&node-id=32%3A1707&viewport=498%2C1160%2C0.43&scaling=scale-down-width&starting-point-node-id=32%3A1707&show-proto-sidebar=1)

**Reason**:
The goal for choosing this tool is to allow anyone(dev or non-dev) to

[2022-11-24 00:50] jeremybeal11 commented on #117
@Olshansk the comments in the feedback you left in [notion](https://pocketnetwork.notion.site/RainTree-Animation-Feedback-bf188c4bb7084ac79bba969965e3cb18) you said:

`We’ve omitted the actual message we’re trying to broadcast`

Q: are we getting rid of the gossip, adjust, and resend messages? if so, what are the new messages or it will all be the same msg?

[2022-11-27 20:02] Olshansk opened #361 "[Persistence] First State Hash Implementation - Followup Investigations"
## Objective

Identify missing gaps and define follow-up work to the first implementation of the state hash in #285.

## Origin Document

PR #285 originally set out to resolve #284, and it did so for the most part. However, the scope of the task is big and it is closely linked to the entire lifecycle of the Pocket Node causing the PR to grow in size and a long time to merge in.

In an effort to cl

[2022-11-27 23:43] Olshansk commented on #108
AptosBFT (which is now live) is based off of DiemBFT, so that means that the Twins BFT approach described in the paper is being used to validate BFT algorithms in production and covers these scenarios:

1. leader equivocation
2. Double voting
3. Losing internal state such as forgetting 'locks' guarding voted values

@DragonDmoney I know you've mentioned you considered looking at this ticket of wor

[2022-11-28 17:04] jessicadaugherty commented on #325
**Design Considerations**

In V0 today, invalid txs take fees. However, invalid txs without enough POKT to cover fees are still stored on-chain per Tendermint which can result in block bloat.

V0 plans on addressing this issue in https://github.com/pokt-network/pocket-core/issues/1505

Pending confirmation from @oten91, I believe the intention is to take fees and store invalid txs in memory rather

[2022-11-28 22:50] Olshansk opened #362 "[Consensus] State Sync - Define Block By Block Interface"
## Objective

Update the interface in `consensus/state_sync/state_sync.go` so it is well-defined enough for the implementation to be picked up by anyone.

## Origin Document

This is a follow-up to #125 per the comments & discussion in #342.

The list of changes this encompasses includes (but is not limited to):
- Remove callback functions and use the application-specific bus for everything
- Addi

[2022-11-28 23:25] okdas commented on #307
Synced with @vlad-she - I'll spin up a separate cluster for this so we don't have to wait on refined RBAC on existing k8s clusters, and will consolidate later if necessary.

[2022-11-29 16:46] Olshansk commented on #307
Sounds good.

@vlad-she When do you RBAC will be refined so the protocol team doesn't need to maintain the remote environment?

[2022-11-29 18:09] jessicadaugherty commented on #362
Follow up ticket: Implement Block by Block design (assign to Gokhan)

[2022-11-29 18:14] jessicadaugherty commented on #325
New ticket: Productionize E2E tx in mainline. Comes before this validate ticket.

[2022-11-29 20:36] Olshansk opened #364 "[Core] Localnet happy path end-to-end transaction (iteration 3 demo)"
## Objective

Productionize iteration 3 demo for an end-to-end transaction

## Origin Document

This is a "spin off" from #325

## Goals

- LocalNet happy path end-to-end transaction

## Deliverable

- [ ] Productionize the last few commits from this branch: https://github.com/pokt-network/pocket/tree/iteration3_demo
- [ ] Instructions on how to follow the commands in [this video](https://drive.go

[2022-11-29 20:37] Olshansk commented on #325
https://github.com/pokt-network/pocket/issues/364

[2022-11-29 20:40] andrewnguyen22 commented on #358
https://github.com/pokt-network/pocket-core/pull/1507

[2022-11-30 03:11] profishional commented on #133
Ok apologies on the delay @Olshansk.  But with a full day on it here up the final updates:

### Context
Github Wiki is a separate repo within a main repo e.g. Main: `github.com/.../pocket.git` VS Wiki: `github.com/.../pocket.wiki.git`.
But the wiki does not require pull requests to edit. Also, we want to only maintain the docs in the main repo which are then converted into a wiki page.

### Play b

[2022-11-30 16:04] deblasis opened #366 "[CLI] package it and create a binary named `p1`"
## Objective

Package the V1 CLI entrypoint into a package binary.

## Origin Document

### Context

Instructions on installing the Pocket V0 CLI can be found [here](https://docs.pokt.network/node/tutorials/zero-to-node/software-install). The source code to the V1 CLI implementation can be found [here](https://github.com/pokt-network/pocket/tree/main/app/client/cli) but is not yet packaged into a

[2022-11-30 18:16] #125 closed

[2022-11-30 18:17] #358 closed

[2022-11-30 18:28] jessicadaugherty commented on #362
Have Gokhan review this ticket to give input/feedback on interface design

[2022-11-30 21:34] #284 closed

[2022-11-30 22:13] Olshansk commented on #133
@profishional Appreciate all the work you've put into this and the detailed play-by-play and instructions. I think it really sets it up for someone else to pick up the task and take it over the finish line.

CCing @b3nnnp to see if you potentially know someone who could pick this up?

[2022-11-30 22:52] Olshansk commented on #366
@Gustavobelfort We added some clarifying details here so it should be self explanatory, but let us know if not.

[2022-11-30 23:12] deblasis opened #369 "[DX] Dangling mocks cause errors when building/testing a branch after switching from another"
## Objective

Improve Developer Experience

## Origin Document

Currently, whenever you are in a feature branch that has some new mocks and you switch to another one that doesn't have these mocks, you are left with files that prevent compilation since they reference parts of code that might be missing.

Example:
![image](https://user-images.githubusercontent.com/29378614/204927649-b7bab276-0eb3-42